In [1]:
import tempfile

In [3]:
temp_file =  tempfile.NamedTemporaryFile(mode = 'w+b', suffix = ".csv")
print(temp_file.name)

C:\Users\lsmat\AppData\Local\Temp\tmpq8nqmx67.csv

In [4]:
import os
os.getcwd()

'C:\\Users\\lsmat'

In [5]:
# create file path that is agnostic of the operating system
my_file = os.path.join(os.getcwd(), "my_file.csv")
print(my_file)

C:\Users\lsmat\my_file.csv

In [6]:
# pandas can handle url links directly!
my_url = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv"

In [7]:
# if we want to change the working directory
os.chdir("c:\\temp")
print(os.getcwd())

c:\temp

In [8]:
os.mkdir('my-covid-data')

In [9]:
os.chdir('my-covid-data')

In [10]:
os.chdir('november')

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'november'

In [11]:
os.getcwd()

'c:\\temp\\my-covid-data'

In [12]:
os.chdir('..')

In [13]:
os.getcwd()

'c:\\temp'

In [14]:
# let's read in the covid data
import pandas as pd
covid_df = pd.read_csv(my_url)

In [15]:
print(covid_df.head(n=10))

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0
5  2020-01-25  California     6      1       0
6  2020-01-25    Illinois    17      1       0
7  2020-01-25  Washington    53      1       0
8  2020-01-26     Arizona     4      1       0
9  2020-01-26  California     6      2       0

In [21]:
print(covid_df.tail(n=56))

             date                     state  fips     cases  deaths
55054  2022-11-21                   Alabama     1   1542227   21100
55055  2022-11-21                    Alaska     2    299411    1390
55056  2022-11-21            American Samoa    60      8262      34
55057  2022-11-21                   Arizona     4   2311150   31648
55058  2022-11-21                  Arkansas     5    965634   12544
55059  2022-11-21                California     6  11453823   99657
55060  2022-11-21                  Colorado     8   1703498   13755
55061  2022-11-21               Connecticut     9    921739   11559
55062  2022-11-21                  Delaware    10    315863    3163
55063  2022-11-21      District of Columbia    11    170750    1403
55064  2022-11-21                   Florida    12   7195943   82875
55065  2022-11-21                   Georgia    13   2847607   39498
55066  2022-11-21                      Guam    66     60008     407
55067  2022-11-21                    Hawaii    15    356312    1719
55068  2022-11-21                     Idaho    16    503494    5259
55069  2022-11-21                  Illinois    17   3862909   40219
55070  2022-11-21                   Indiana    18   1953497   25079
55071  2022-11-21                      Iowa    19    868595   10255
55072  2022-11-21                    Kansas    20    896095    9793
55073  2022-11-21                  Kentucky    21   1635213   17555
55074  2022-11-21                 Louisiana    22   1467573   18234
55075  2022-11-21                     Maine    23    300355    2747
55076  2022-11-21                  Maryland    24   1282382   15771
55077  2022-11-21             Massachusetts    25   2104453   22303
55078  2022-11-21                  Michigan    26   2920679   39697
55079  2022-11-21                 Minnesota    27   1701401   13982
55080  2022-11-21               Mississippi    28    936814   13047
55081  2022-11-21                  Missouri    29   1700662   23007
55082  2022-11-21                   Montana    30    317381    3605
55083  2022-11-21                  Nebraska    31    540639    4774
55084  2022-11-21                    Nevada    32    859537   11725
55085  2022-11-21             New Hampshire    33    360231    2801
55086  2022-11-21                New Jersey    34   2832407   35064
55087  2022-11-21                New Mexico    35    641259    8717
55088  2022-11-21                  New York    36   6331740   76539
55089  2022-11-21            North Carolina    37   3262335   28519
55090  2022-11-21              North Dakota    38    275510    2434
55091  2022-11-21  Northern Mariana Islands    69     13212      41
55092  2022-11-21                      Ohio    39   3218335   40533
55093  2022-11-21                  Oklahoma    40   1217825   15778
55094  2022-11-21                    Oregon    41    917164    8794
55095  2022-11-21              Pennsylvania    42   3340506   48212
55096  2022-11-21               Puerto Rico    72   1035696    5322
55097  2022-11-21              Rhode Island    44    435778    3757
55098  2022-11-21            South Carolina    45   1732287   19250
55099  2022-11-21              South Dakota    46    266843    3106
55100  2022-11-21                 Tennessee    47   2318836   27952
55101  2022-11-21                     Texas    48   7964199   92278
55102  2022-11-21                      Utah    49   1054340    5089
55103  2022-11-21                   Vermont    50    146143     763
55104  2022-11-21            Virgin Islands    78     23445     124
55105  2022-11-21                  Virginia    51   2139759   22437
55106  2022-11-21                Washington    53   1848786   14742
55107  2022-11-21             West Virginia    54    612710    7708
55108  2022-11-21                 Wisconsin    55   1915298   15627
55109  2022-11-21                   Wyoming    56    179838    1924

In [22]:
ny_covid=covid_df[covid_df["state"] == "New York"]

In [23]:
print(ny_covid.head(n=10))

           date     state  fips  cases  deaths
246  2020-03-01  New York    36      1       0
261  2020-03-02  New York    36      1       0
276  2020-03-03  New York    36      2       0
293  2020-03-04  New York    36     11       0
313  2020-03-05  New York    36     22       0
338  2020-03-06  New York    36     44       0
369  2020-03-07  New York    36     89       0
404  2020-03-08  New York    36    106       0
440  2020-03-09  New York    36    142       0
478  2020-03-10  New York    36    173       0

In [24]:
ny_covid.to_csv('ny_covid.csv', index = False)

In [26]:
ny_covid.drop('state', axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [27]:
ny_covid = pd.read_csv('ny_covid.csv')

In [28]:
print(ny_covid.head(n=10))

         date     state  fips  cases  deaths
0  2020-03-01  New York    36      1       0
1  2020-03-02  New York    36      1       0
2  2020-03-03  New York    36      2       0
3  2020-03-04  New York    36     11       0
4  2020-03-05  New York    36     22       0
5  2020-03-06  New York    36     44       0
6  2020-03-07  New York    36     89       0
7  2020-03-08  New York    36    106       0
8  2020-03-09  New York    36    142       0
9  2020-03-10  New York    36    173       0

In [29]:
ny_covid.drop('state', axis=1, inplace=True)

In [30]:
print(ny_covid.head(n=10))

         date  fips  cases  deaths
0  2020-03-01    36      1       0
1  2020-03-02    36      1       0
2  2020-03-03    36      2       0
3  2020-03-04    36     11       0
4  2020-03-05    36     22       0
5  2020-03-06    36     44       0
6  2020-03-07    36     89       0
7  2020-03-08    36    106       0
8  2020-03-09    36    142       0
9  2020-03-10    36    173       0

In [31]:
ny_covid.drop('fips', axis=1, inplace=True)

In [32]:
print(ny_covid.head(n=10))

         date  cases  deaths
0  2020-03-01      1       0
1  2020-03-02      1       0
2  2020-03-03      2       0
3  2020-03-04     11       0
4  2020-03-05     22       0
5  2020-03-06     44       0
6  2020-03-07     89       0
7  2020-03-08    106       0
8  2020-03-09    142       0
9  2020-03-10    173       0

In [33]:
ny_covid.to_csv('ny_covid.csv', index = False)

In [34]:
ny_covid[['date','cases']]

           date    cases
0    2020-03-01        1
1    2020-03-02        1
2    2020-03-03        2
3    2020-03-04       11
4    2020-03-05       22
..          ...      ...
991  2022-11-17  6315469
992  2022-11-18  6320328
993  2022-11-19  6322200
994  2022-11-20  6323637
995  2022-11-21  6331740

[996 rows x 2 columns]

In [35]:
ny_covid.dropna(thresh=2)

           date    cases  deaths
0    2020-03-01        1       0
1    2020-03-02        1       0
2    2020-03-03        2       0
3    2020-03-04       11       0
4    2020-03-05       22       0
..          ...      ...     ...
991  2022-11-17  6315469   76506
992  2022-11-18  6320328   76525
993  2022-11-19  6322200   76525
994  2022-11-20  6323637   76525
995  2022-11-21  6331740   76539

[996 rows x 3 columns]

In [36]:
d1 = {
    'C0': ['COR0', 'COR1', 'COR2'],
    'C1': ['C1R0', 'C1R1', 'C2R2'],
    'C2': ['C2R0', 'C2R1', 'C2R2'],
}

df1 = pd.DataFrame(d1)

d2 = {
    'C0': ['C0R3', 'C0R4', 'C0R5'],
    'C1': ['C1R3', 'C1R4', 'C1R5'],
    'C2': ['C2R3', 'C2R4', 'C2R5'],
}

df2 = pd.DataFrame(d2)

d3 = {
    'C0': ['C0R6', 'C0R7', 'C0R8'],
    'C1': ['C1R6', 'C1R7', 'C1R8'],
    'C2': ['C2R6', 'C2R7', 'C2R8'],
}

df3 = pd.DataFrame(d3)

In [37]:
df1

     C0    C1    C2
0  COR0  C1R0  C2R0
1  COR1  C1R1  C2R1
2  COR2  C2R2  C2R2

In [38]:
df2

     C0    C1    C2
0  C0R3  C1R3  C2R3
1  C0R4  C1R4  C2R4
2  C0R5  C1R5  C2R5

In [39]:
df3

     C0    C1    C2
0  C0R6  C1R6  C2R6
1  C0R7  C1R7  C2R7
2  C0R8  C1R8  C2R8

In [40]:
# concat as an alternative to the append operation
pd.concat([df1, df2, df3])

     C0    C1    C2
0  COR0  C1R0  C2R0
1  COR1  C1R1  C2R1
2  COR2  C2R2  C2R2
0  C0R3  C1R3  C2R3
1  C0R4  C1R4  C2R4
2  C0R5  C1R5  C2R5
0  C0R6  C1R6  C2R6
1  C0R7  C1R7  C2R7
2  C0R8  C1R8  C2R8

In [42]:
print(covid_df["state"].unique())

['Washington' 'Illinois' 'California' 'Arizona' 'Massachusetts'
 'Wisconsin' 'Texas' 'Nebraska' 'Utah' 'Oregon' 'Florida' 'New York'
 'Rhode Island' 'Georgia' 'New Hampshire' 'North Carolina' 'New Jersey'
 'Colorado' 'Maryland' 'Nevada' 'Tennessee' 'Hawaii' 'Indiana' 'Kentucky'
 'Minnesota' 'Oklahoma' 'Pennsylvania' 'South Carolina'
 'District of Columbia' 'Kansas' 'Missouri' 'Vermont' 'Virginia'
 'Connecticut' 'Iowa' 'Louisiana' 'Ohio' 'Michigan' 'South Dakota'
 'Arkansas' 'Delaware' 'Mississippi' 'New Mexico' 'North Dakota' 'Wyoming'
 'Alaska' 'Maine' 'Alabama' 'Idaho' 'Montana' 'Puerto Rico'
 'Virgin Islands' 'Guam' 'West Virginia' 'Northern Mariana Islands'
 'American Samoa']

In [43]:
print(covid_df["state"].value_counts())

Washington                  1036
Illinois                    1033
California                  1032
Arizona                     1031
Massachusetts               1025
Wisconsin                   1021
Texas                       1014
Nebraska                    1009
Utah                        1001
Oregon                       998
Rhode Island                 996
New York                     996
Florida                      996
Georgia                      995
New Hampshire                995
North Carolina               994
New Jersey                   993
Nevada                       992
Maryland                     992
Tennessee                    992
Colorado                     992
Kentucky                     991
Indiana                      991
Oklahoma                     991
Pennsylvania                 991
South Carolina               991
Minnesota                    991
Hawaii                       991
Missouri                     990
Virginia                     990
Vermont                      990
District of Columbia         990
Kansas                       990
Iowa                         989
Connecticut                  989
Louisiana                    988
Ohio                         988
South Dakota                 987
Michigan                     987
North Dakota                 986
Delaware                     986
Wyoming                      986
Mississippi                  986
Arkansas                     986
New Mexico                   986
Alaska                       985
Maine                        985
Puerto Rico                  984
Idaho                        984
Montana                      984
Alabama                      984
Virgin Islands               983
Guam                         982
West Virginia                980
Northern Mariana Islands     969
American Samoa               426
Name: state, dtype: int64

In [44]:
1036 - 980

56

In [46]:
covid_df["deaths"].apply(lambda val: val/10)

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
          ...
55105    2243.7
55106    1474.2
55107     770.8
55108    1562.7
55109     192.4
Name: deaths, Length: 55110, dtype: float64

In [48]:
covid_df["state"].apply(lambda s: s.upper())

0           WASHINGTON
1           WASHINGTON
2           WASHINGTON
3             ILLINOIS
4           WASHINGTON
             ...
55105         VIRGINIA
55106       WASHINGTON
55107    WEST VIRGINIA
55108        WISCONSIN
55109          WYOMING
Name: state, Length: 55110, dtype: object

In [51]:
covid_df.shape

(55110, 5)

In [53]:
len(covid_df.columns)

5

In [54]:
covid_df.columns

Index(['date', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [56]:
covid_df.dtypes

date      object
state     object
fips       int64
cases      int64
deaths     int64
dtype: object

In [57]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55110 entries, 0 to 55109
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    55110 non-null  object
 1   state   55110 non-null  object
 2   fips    55110 non-null  int64
 3   cases   55110 non-null  int64
 4   deaths  55110 non-null  int64
dtypes: int64(3), object(2)
memory usage: 2.1+ MB