In [1]:
abs(5)

5

In [2]:
abs(-5)

5

In [3]:
two_arg_function(5,6)

NameError: name 'two_arg_function' is not defined

In [5]:
pow(2, abs(-6))

64

In [6]:
a = 4

In [7]:
b = 3.2

In [8]:
c = int(b)

In [9]:
c

3

In [10]:
d = float(a)

In [11]:
d

4.0

In [12]:
d_str = str(d)

In [13]:
d_str

'4.0'

In [14]:
int(3.8)

3

In [15]:
round(3.8)

4

In [16]:
help(pow)

Help on built-in function pow in module builtins:

pow(x, y, z=None, /)
    Equivalent to x**y (with two arguments) or x**y % z (with three arguments)

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [17]:
id(a)

140717611000304

In [18]:
id(pow)

1315063406824

In [19]:
a

4

In [20]:
def quadratic(a, b, c, x):
    # ax^2 + bx +c
    d = a*x**2
    e = b * x
    f = c
    return d + e + f

d

4.0

In [22]:
e =12

In [23]:
f = 0

In [24]:
quadratic(1, 2, 0, 5)

35

In [25]:
d

4.0

In [26]:
a = 1
quadratic(a, 2, 0, 5)

35

In [27]:
current_weekday

NameError: name 'current_weekday' is not defined

In [32]:
def say_hello():
    print("hello")
    return None
say_hello()

hello

In [30]:
def add_and_sub(a, b):
    added = a + b
    subbed = a - b
    return added,subbed
sum,diff = add_and_sub(20, 10)
sum
diff

10

In [31]:
sum

30

In [35]:
add_and_sub(a, b, c)

TypeError: add_and_sub() takes 2 positional arguments but 3 were given

In [36]:
del sum

In [44]:
a_string = 'He said "hello"'

In [45]:
a_string

'He said "hello"'

In [46]:
a_val = '5'

In [47]:
int(a_val)

5

In [48]:
float(a_val)

5.0

In [49]:
len(a_string)

15

In [53]:
a_string = a_string + " world"

In [52]:
a_string*2

'He said "hello"He said "hello"'

In [54]:
a_string

'He said "hello" world'

In [56]:
a_string += " and then he left"

In [57]:
a_string

'He said "hello" world and then he left'

In [61]:
"he ate " + str(3) + " pears"

'he ate 3 pears'

In [64]:
print('abcd', 2, 3, sep='\n')

abcd
2
3

In [65]:
number = input("Please enter your favorite number:")

Please enter your favorite number:786

In [66]:
number

'786'

In [67]:
number = int(number)

In [68]:
number

786

In [69]:
PI = 3.14159265359

In [76]:
print(f'{int(PI): d}')

 3

In [83]:
a_string = "All Over Again."

In [84]:
a_string

'All Over Again.'

In [90]:
a_string = a_string.capitalize()

In [91]:
a_string

'All over again.'

In [92]:
a_string.split(' ')

['All', 'over', 'again.']

In [93]:
def print_hibernates():
    print("They'll hibernate during the winter.")

print_hibernates()

They'll hibernate during the winter.

In [95]:
def print_abs_not():
    print('"He said, \'Absolutely not,\'" recalled Mel.')
    
print_abs_not()

"He said, 'Absolutely not,'" recalled Mel.