In [11]:
course_number = 503
str_format = 'Course number is |{}| {:^9d}'.format(course_number, course_number)
print(str_format)

Course number is |503|    503

In [16]:
f_string = f'Course number is |{course_number:^9d}|'

In [17]:
print(f_string)

Course number is |   503   |

In [18]:
'hello '*4

'hello hello hello hello '

In [19]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
print(title)

|               Cereal Yields (kg/ha)               |

In [20]:
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
print(line)

+---------------+--------+--------+--------+--------+

In [21]:
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
print(header)

|    Country    |  1980  |  1990  |  2000  |  2010  |

In [22]:
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [26]:
a = True

In [27]:
b = 50
c = 100
a = (b > c)

In [28]:
a

False

In [29]:
d = (c > b)
d

True

In [30]:
a and d

False

In [31]:
a or d

True

In [34]:
(not a) or b

True

In [35]:
(not b)

False

In [36]:
(not None)

True

In [37]:
(not '')

True

In [38]:
(not 0)

True

In [39]:
(not 0.0)

True

In [40]:
len('')

0

In [41]:
b = -5

In [42]:
(not b)

False

In [43]:
a

False

In [44]:
a = 50
b = 100

In [45]:
a > b

False

In [46]:
a = b

In [47]:
a

100

In [48]:
"A" < "a"

True

In [49]:
'A' > 'Z'

False

In [50]:
'abc' < 'abcd'

True

In [52]:
'abc'.lower() == 'ABC'.lower()

True

In [54]:
'Jan' in '01 Feb 1838'

False

In [65]:
if ( a > b) :
    print("a is greater than b")
elif (a == b):
    print("a is equal to b")
elif ( a < b) :
    print("a is less than b")
else:
    print("not sure how we got here!")
# back to regular flow of code
print("Resuming calculation")

a is equal to b
Resuming calculation

In [56]:
a

100

In [57]:
b

100

In [68]:
float('seven')

ValueError: could not convert string to float: 'seven'