In [9]:
class TestClass:
    @staticmethod
    def add(n1, n2):
        return n1 + n2

In [10]:
TestClass.add(1,2)

3

In [11]:
from collections import Counter
my_list = [ 'apple', 'apple', 'banana', 'pear', 'apple', 'pear']
c = Counter(my_list)

In [12]:
c

Counter({'apple': 3, 'banana': 1, 'pear': 2})

In [13]:
c.keys()

dict_keys(['apple', 'banana', 'pear'])

In [14]:
c.values()

dict_values([3, 1, 2])

In [15]:
c['apple']

3

In [20]:
import random
# random.seed(503)

two_dice = []
for _ in range(360000):
    dice1 = random.randint(1,6)
    dice2 = random.randint(1,6)
    two_dice.append(dice1+dice2)
c = Counter(two_dice)

In [21]:
c

Counter({4: 30174,
         3: 20061,
         7: 59437,
         5: 39992,
         8: 50174,
         10: 29960,
         11: 19981,
         6: 50174,
         9: 39924,
         12: 10044,
         2: 10079})

In [22]:
44 / 360000

0.00012222222222222221

In [24]:
import operator
grades = ((123, 'Ann', 35.0), (356, 'Zia', 90), (678, 'Shawn', 75) )
sorted(grades, key=operator.itemgetter(2))

[(123, 'Ann', 35.0), (678, 'Shawn', 75), (356, 'Zia', 90)]

In [33]:
 marks = [
    {'name': 'student2', 'test1': '88', 'test2': '90','test3': '65', 'test4': '68', 'test5': '94'},
    {'name': 'student83', 'test1': '100', 'test2': '76', 'test3': '65', 'test4': '97', 'test5': '82'},
    {'name': 'student31', 'test1': '90', 'test2': '87', 'test3': '66', 'test4': '95', 'test5': '72'}]

In [34]:
marks

[{'name': 'student2',
  'test1': '88',
  'test2': '90',
  'test3': '65',
  'test4': '68',
  'test5': '94'},
 {'name': 'student83',
  'test1': '100',
  'test2': '76',
  'test3': '65',
  'test4': '97',
  'test5': '82'},
 {'name': 'student31',
  'test1': '90',
  'test2': '87',
  'test3': '66',
  'test4': '95',
  'test5': '72'}]

In [35]:
sorted(marks, key=operator.itemgetter('test1'))

[{'name': 'student83',
  'test1': '100',
  'test2': '76',
  'test3': '65',
  'test4': '97',
  'test5': '82'},
 {'name': 'student2',
  'test1': '88',
  'test2': '90',
  'test3': '65',
  'test4': '68',
  'test5': '94'},
 {'name': 'student31',
  'test1': '90',
  'test2': '87',
  'test3': '66',
  'test4': '95',
  'test5': '72'}]

In [36]:
from natsort import natsorted
natsorted(marks, key=operator.itemgetter('test1'))

ModuleNotFoundError: No module named 'natsort'

In [37]:
import datetime

In [38]:
datetime.datetime.now()

datetime.datetime(2022, 10, 13, 19, 50, 18, 583716)

In [39]:
print(datetime.datetime.now())

2022-10-13 19:50:45.791825

In [42]:
import time
tic = datetime.datetime.now()
time.sleep(1)
# do a bunch of heavy computations
toc = datetime.datetime.now()
toc - tic

datetime.timedelta(seconds=1, microseconds=8777)

In [43]:
print(datetime.date.today())

2022-10-13

In [44]:
datetime.date.today()

datetime.date(2022, 10, 13)

In [46]:
datetime.date(1976, 3, 17)

datetime.date(1976, 3, 17)

In [48]:
import datetime as d
d.date(1945, 3, 24)

datetime.date(1945, 3, 24)

In [56]:
 date.fromtimestamp(1326244364)

datetime.date(2012, 1, 10)

In [52]:
print(datetime.date(2012, 1, 10).year)

2012

In [55]:
print(d.time(hour = 8, minute = 1, second = 34))

08:01:34

In [57]:
now = d.datetime.now()

In [58]:
now

datetime.datetime(2022, 10, 13, 20, 6, 47, 222765)

In [59]:
print(now)

2022-10-13 20:06:47.222765

In [64]:
t = now.strftime("%H:%M:%S")

In [65]:
print(t)

20:06:47

In [66]:
ymd = now.strftime("%Y/%m/%d")

In [67]:
print(ymd)

2022/10/13

In [68]:
type(ymd)

str

In [69]:
date_string = "21 June, 2018"

In [70]:
datetime.strptime(date_string, "%d %B, %Y")

AttributeError: module 'datetime' has no attribute 'strptime'

In [71]:
class my_class():
    def __init__(self):
        self.val = 0
m = my_class()
m.val = m.val + 1

In [72]:
m.val

1

In [73]:
m2 = my_class()
m2.val

0

In [75]:
m.val

1

In [76]:
d.datetime.strptime(date_string, "%d %B, %Y")

datetime.datetime(2018, 6, 21, 0, 0)

In [77]:
date_string

'21 June, 2018'