In [1]:
# Agenda
# 1. Finish up the india_export example
# 2. Take a look at the soccer example

In [2]:
# Step 1 is to re-enter the helper functions
import pandas as pd
import sqlite3
from sqlite3 import Error

def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows

In [3]:
# connect to the "flat" version of the database
conn = create_connection('india_export.db')

In [4]:
# connect to the normalized database
conn_norm = create_connection('india_export_norm.db')

In [5]:
# take a look at the flat database
sql_statement = "SELECT * FROM Export"
df = pd.read_sql_query(sql_statement, conn)
display(df)

,HSCode,Commodity,value,country,year
0,2,MEAT AND EDIBLE MEAT OFFAL.,0.18,AFGHANISTAN TIS,2018
1,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",0.00,AFGHANISTAN TIS,2018
2,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,12.48,AFGHANISTAN TIS,2018
3,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,0.00,AFGHANISTAN TIS,2018
4,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,1.89,AFGHANISTAN TIS,2018
...,...,...,...,...,...
133365,42,"ARTICLES OF LEATHER,SADDLERY AND HARNESS;TRAVE...",0.00,SAMOA,2010
133366,48,"PAPER AND PAPERBOARD; ARTICLES OF PAPER PULP, ...",0.00,SAMOA,2010
133367,49,"PRINTED BOOKDS, NEWSPAPERS, PICTURES AND OTHER...",NaN,SAMOA,2010
133368,52,COTTON.,0.00,SAMOA,2010
133369,54,MAN-MADE FILAMENTS.,NaN,SAMOA,2010

In [6]:
# take a look at the normalized database
sql_statement = "SELECT * FROM Year"
df = pd.read_sql_query(sql_statement, conn_norm)
display(df)

   YEAR
0  2010
1  2011
2  2012
3  2013
4  2014
5  2015
6  2016
7  2017
8  2018

In [7]:
sql_statement = "SELECT * FROM Country"
df = pd.read_sql_query(sql_statement, conn_norm)
display(df)

             Country
0    AFGHANISTAN TIS
1            ALBANIA
2            ALGERIA
3        AMERI SAMOA
4            ANDORRA
..               ...
243     VIRGIN IS US
244      WALLIS F IS
245    YEMEN REPUBLC
246           ZAMBIA
247         ZIMBABWE

[248 rows x 1 columns]

In [8]:
sql_statement = "SELECT * FROM Commodity"
df = pd.read_sql_query(sql_statement, conn_norm)
display(df)

    HSCODE                                          COMMODITY
0        1           AIRCRAFT, SPACECRAFT, AND PARTS THEREOF.
1        2  ALBUMINOIDAL SUBSTANCES; MODIFIED STARCHES; GL...
2        3                    ALUMINIUM AND ARTICLES THEREOF.
3        4  ANIMAL OR VEGETABLE FATS AND OILS AND THEIR CL...
4        5  ARMS AND AMMUNITION; PARTS AND ACCESSORIES THE...
..     ...                                                ...
93      94  WADDING, FELT AND NONWOVENS; SPACIAL YARNS; TW...
94      95          WOOD AND ARTICLES OF WOOD; WOOD CHARCOAL.
95      96  WOOL, FINE OR COARSE ANIMAL HAIR, HORSEHAIR YA...
96      97      WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.
97      98                         ZINC AND ARTICLES THEREOF.

[98 rows x 2 columns]

In [9]:
sql_statement = "SELECT * FROM Export"
df = pd.read_sql_query(sql_statement, conn_norm)
display(df)

Empty DataFrame
Columns: [VALUEID, HSCODE, COUNTRY, YEAR, VALUE]
Index: []

In [10]:
# So the Export table was created but nothing has been added yet

In [11]:
# Grab the helper function for inserting entries
def insert_value(conn, values):
    sql = ''' INSERT INTO Export (HSCODE, COUNTRY, YEAR, VALUE)
              VALUES(?, ?, ?, ?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

In [12]:
# Collect hscode and commodity entries
sql_statement = 'SELECT HSCODE, COMMODITY from COMMODITY'
values = execute_sql_statement(sql_statement, conn_norm)
print(values[:10])

[(1, 'AIRCRAFT, SPACECRAFT, AND PARTS THEREOF.'), (2, 'ALBUMINOIDAL SUBSTANCES; MODIFIED STARCHES; GLUES; ENZYMES.'), (3, 'ALUMINIUM AND ARTICLES THEREOF.'), (4, 'ANIMAL OR VEGETABLE FATS AND OILS AND THEIR CLEAVAGE PRODUCTS; PRE. EDIBLE FATS; ANIMAL OR VEGETABLE WAXEX.'), (5, 'ARMS AND AMMUNITION; PARTS AND ACCESSORIES THEREOF.'), (6, 'ARTICLES OF APPAREL AND CLOTHING ACCESSORIES, KNITTED OR CORCHETED.'), (7, 'ARTICLES OF APPAREL AND CLOTHING ACCESSORIES, NOT KNITTED OR CROCHETED.'), (8, 'ARTICLES OF IRON OR STEEL'), (9, 'ARTICLES OF LEATHER,SADDLERY AND HARNESS;TRAVEL GOODS, HANDBAGS AND SIMILAR CONT.ARTICLES OF ANIMAL GUT(OTHR THN SILK-WRM)GUT.'), (10, 'ARTICLES OF STONE, PLASTER, CEMENT, ASBESTOS, MICA OR SIMILAR MATERIALS.')]

In [13]:
# create a lookup dictionary that maps commodity 
# descriptions to hscode values
commodity_lookup = {}
for hscode, commodity in values:
    commodity_lookup[commodity] = hscode
    
print(commodity_lookup)

{'AIRCRAFT, SPACECRAFT, AND PARTS THEREOF.': 1, 'ALBUMINOIDAL SUBSTANCES; MODIFIED STARCHES; GLUES; ENZYMES.': 2, 'ALUMINIUM AND ARTICLES THEREOF.': 3, 'ANIMAL OR VEGETABLE FATS AND OILS AND THEIR CLEAVAGE PRODUCTS; PRE. EDIBLE FATS; ANIMAL OR VEGETABLE WAXEX.': 4, 'ARMS AND AMMUNITION; PARTS AND ACCESSORIES THEREOF.': 5, 'ARTICLES OF APPAREL AND CLOTHING ACCESSORIES, KNITTED OR CORCHETED.': 6, 'ARTICLES OF APPAREL AND CLOTHING ACCESSORIES, NOT KNITTED OR CROCHETED.': 7, 'ARTICLES OF IRON OR STEEL': 8, 'ARTICLES OF LEATHER,SADDLERY AND HARNESS;TRAVEL GOODS, HANDBAGS AND SIMILAR CONT.ARTICLES OF ANIMAL GUT(OTHR THN SILK-WRM)GUT.': 9, 'ARTICLES OF STONE, PLASTER, CEMENT, ASBESTOS, MICA OR SIMILAR MATERIALS.': 10, 'BEVERAGES, SPIRITS AND VINEGAR.': 11, 'CARPETS AND OTHER TEXTILE FLOOR COVERINGS.': 12, 'CERAMIC PRODUCTS.': 13, 'CEREALS.': 14, 'CLOCKS AND WATCHES AND PARTS THEREOF.': 15, 'COCOA AND COCOA PREPARATIONS.': 16, 'COFFEE, TEA, MATE AND SPICES.': 17, 'COPPER AND ARTICLES THEREOF.': 18, 'CORK AND ARTICLES OF CORK.': 19, 'COTTON.': 20, "DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDIBLE PROD. OF ANIMAL ORIGIN, NOT ELSEWHERE SPEC. OR INCLUDED.": 21, 'EDIBLE FRUIT AND NUTS; PEEL OR CITRUS FRUIT OR MELONS.': 22, 'EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.': 23, 'ELECTRICAL MACHINERY AND EQUIPMENT AND PARTS THEREOF; SOUND RECORDERS AND REPRODUCERS, TELEVISION IMAGE AND SOUND RECORDERS AND REPRODUCERS,AND PARTS.': 24, 'ESSENTIAL OILS AND RESINOIDS; PERFUMERY, COSMETIC OR TOILET PREPARATIONS.': 25, 'EXPLOSIVES; PYROTECHNIC PRODUCTS; MATCHES; PYROPHORIC ALLOYS; CERTAIN COMBUSTIBLE PREPARATIONS.': 26, 'FERTILISERS.': 27, 'FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUATIC INVERTABRATES.': 28, 'FOOTWEAR, GAITERS AND THE LIKE; PARTS OF SUCH ARTICLES.': 29, 'FURNITURE; BEDDING, MATTRESSES, MATTRESS SUPPORTS, CUSHIONS AND SIMILAR STUFFED FURNISHING; LAMPS AND LIGHTING FITTINGS NOT ELSEWHERE SPECIFIED OR INC': 30, 'FURSKINS AND ARTIFICIAL FUR, MANUFACTURES THEREOF.': 31, 'GLASS AND GLASSWARE.': 32, 'HEADGEAR AND PARTS THEREOF.': 33, 'IMPREGNATED, COATED, COVERED OR LAMINATED TEXTILE FABRICS; TEXTILE ARTICLES OF A KIND SUITABLE FOR INDUSTRIAL USE.': 34, 'INORGANIC CHEMICALS; ORGANIC OR INORGANIC COMPOUNDS OF PRECIOUS METALS, OF RARE-EARTH METALS, OR RADI. ELEM. OR OF ISOTOPES.': 35, 'IRON AND STEEL': 36, 'KNITTED OR CROCHETED FABRICS.': 37, 'LAC; GUMS, RESINS AND OTHER VEGETABLE SAPS AND EXTRACTS.': 38, 'LEAD AND ARTICLES THEREOF.': 39, 'LIVE ANIMALS.': 40, 'LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND THE LIKE; CUT FLOWERS AND ORNAMENTAL FOLIAGE.': 41, 'MAN-MADE FILAMENTS.': 42, 'MAN-MADE STAPLE FIBRES.': 43, 'MANUFACTURES OF STRAW, OF ESPARTO OR OF OTHER PLAITING MATERIALS; BASKETWARE AND WICKERWORK.': 44, 'MEAT AND EDIBLE MEAT OFFAL.': 45, 'MINERAL FUELS, MINERAL OILS AND PRODUCTS OF THEIR DISTILLATION; BITUMINOUS SUBSTANCES; MINERAL WAXES.': 46, 'MISCELLANEOUS ARTICLES OF BASE METAL.': 47, 'MISCELLANEOUS CHEMICAL PRODUCTS.': 48, 'MISCELLANEOUS EDIBLE PREPARATIONS.': 49, 'MISCELLANEOUS GOODS.': 50, 'MISCELLANEOUS MANUFACTURED ARTICLES.': 51, 'MUSICAL INSTRUMENTS; PARTS AND ACCESSORIES OF SUCH ARTICLES.': 52, 'NATURAL OR CULTURED PEARLS,PRECIOUS OR SEMIPRECIOUS STONES,PRE.METALS,CLAD WITH PRE.METAL AND ARTCLS THEREOF;IMIT.JEWLRY;COIN.': 53, 'NICKEL AND ARTICLES THEREOF.': 54, 'NUCLEAR REACTORS, BOILERS, MACHINERY AND MECHANICAL APPLIANCES; PARTS THEREOF.': 55, 'OIL SEEDS AND OLEA. FRUITS; MISC. GRAINS, SEEDS AND FRUIT; INDUSTRIAL OR MEDICINAL PLANTS; STRAW AND FODDER.': 56, 'OPTICAL, PHOTOGRAPHIC CINEMATOGRAPHIC MEASURING, CHECKING PRECISION, MEDICAL OR SURGICAL INST. AND APPARATUS PARTS AND ACCESSORIES THEREOF;': 57, 'ORES, SLAG AND ASH.': 58, 'ORGANIC CHEMICALS': 59, 'OTHER BASE METALS; CERMETS; ARTICLES THEREOF.': 60, 'OTHER MADE UP TEXTILE ARTICLES; SETS; WORN CLOTHING AND WORN TEXTILE ARTICLES; RAGS': 61, 'OTHER VEGETABLE TEXTILE FIBRES; PAPER YARN AND WOVEN FABRICS OF PAPER YARN.': 62, 'PAPER AND PAPERBOARD; ARTICLES OF PAPER PULP, OF PAPER OR OF PAPERBOARD.': 63, 'PHARMACEUTICAL PRODUCTS': 64, 'PHOTOGRAPHIC OR CINEMATOGRAPHIC GOODS.': 65, 'PLASTIC AND ARTICLES THEREOF.': 66, 'PREPARATIONS OF CEREALS, FLOUR, STARCH OR MILK; PASTRYCOOKS PRODUCTS.': 67, 'PREPARATIONS OF MEAT, OF FISH OR OF CRUSTACEANS, MOLLUSCS OR OTHER AQUATIC INVERTEBRATES': 68, 'PREPARATIONS OF VEGETABLES, FRUIT, NUTS OR OTHER PARTS OF PLANTS.': 69, 'PREPARED FEATHERS AND DOWN AND ARTICLES MADE OF FEATHERS OR OF DOWN; ARTIFICIAL FLOWERS; ARTICLES OF HUMAN HAIR.': 70, 'PRINTED BOOKDS, NEWSPAPERS, PICTURES AND OTHER PRODUCTS OF THE PRINTING INDUSTRY; MANUSCRIPTS, TYPESCRIPTS AND PLANS.': 71, 'PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECIFIED OR INCLUDED.': 72, 'PRODUCTS OF THE MILLING INDUSTRY; MALT; STARCHES; INULIN; WHEAT GLUTEN.': 73, 'PROJECT GOODS; SOME SPECIAL USES.': 74, 'PULP OF WOOD OR OF OTHER FIBROUS CELLULOSIC MATERIAL; WASTE AND SCRAP OF PAPER OR PAPERBOARD.': 75, 'RAILWAY OR TRAMWAY LOCOMOTIVES, ROLLING-STOCK AND PARTS THEREOF; RAILWAY OR TRAMWAY TRACK FIXTURES AND FITTINGS AND PARTS THEREOF; MECHANICAL': 76, 'RAW HIDES AND SKINS (OTHER THAN FURSKINS) AND LEATHER': 77, 'RESIDUES AND WASTE FROM THE FOOD INDUSTRIES; PREPARED ANIMAL FODER.': 78, 'RUBBER AND ARTICLES THEREOF.': 79, 'SALT; SULPHUR; EARTHS AND STONE; PLASTERING MATERIALS, LIME AND CEMENT.': 80, 'SHIPS, BOATS AND FLOATING STRUCTURES.': 81, 'SILK': 82, 'SOAP, ORGANIC SURFACE-ACTIVE AGENTS, WASHING PREPARATIONS, LUBRICATING PREPARATIONS, ARTIFICIAL WAXES, PREPARED WAXES, POLISHING OR SCOURING PREP.': 83, 'SPECIAL WOVEN FABRICS; TUFTED TEXTILE FABRICS; LACE; TAPESTRIES; TRIMMINGS; EMBROIDERY.': 84, 'SUGARS AND SUGAR CONFECTIONERY.': 85, 'TANNING OR DYEING EXTRACTS; TANNINS AND THEIR DERI. DYES, PIGMENTS AND OTHER COLOURING MATTER; PAINTS AND VER; PUTTY AND OTHER MASTICS; INKS.': 86, 'TIN AND ARTICLES THEREOF.': 87, 'TOBACCO AND MANUFACTURED TOBACCO SUBSTITUTES.': 88, 'TOOLS IMPLEMENTS, CUTLERY, SPOONS AND FORKS, OF BASE METAL; PARTS THEREOF OF BASE METAL.': 89, 'TOYS, GAMES AND SPORTS REQUISITES; PARTS AND ACCESSORIES THEREOF.': 90, 'UMBRELLAS, SUN UMBRELLAS, WALKING-STICKS, SEAT-STICKS, WHIPS,RIDING-CROPS AND PARTS THEREOF.': 91, 'VEGETABLE PLAITING MATERIALS; VEGETABLE PRODUCTS NOT ELSEWHERE SPECIFIED OR INCLUDED.': 92, 'VEHICLES OTHER THAN RAILWAY OR TRAMWAY ROLLING STOCK, AND PARTS AND ACCESSORIES THEREOF.': 93, 'WADDING, FELT AND NONWOVENS; SPACIAL YARNS; TWINE, CORDAGE, ROPES AND CABLES AND ARTICLES THEREOF.': 94, 'WOOD AND ARTICLES OF WOOD; WOOD CHARCOAL.': 95, 'WOOL, FINE OR COARSE ANIMAL HAIR, HORSEHAIR YARN AND WOVEN FABRIC.': 96, "WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.": 97, 'ZINC AND ARTICLES THEREOF.': 98}

In [14]:
# Grab the data from the flat table and perform the 
# insertions into the normalized table
sql_statement = 'SELECT Commodity, country, year, value from export'
values = execute_sql_statement(sql_statement, conn)
# with conn_norm:
count = 0
with conn_norm:
    for value in values:
        text = value[0]
        hscode = commodity_lookup[text]
        insert_tuple = (hscode, value[1], value[2], value[3])
        insert_value(conn_norm, insert_tuple)

In [16]:
# This query will generate a table that matches the export
# table of the "flat" database
sql_statement = """
SELECT
export.hscode,
commodity.commodity,
export.country,
export.year,
export.value
FROM Export
JOIN Commodity ON Commodity.hscode = export.hscode
"""
df = pd.read_sql_query(sql_statement, conn_norm)
display(df)

,HSCODE,COMMODITY,COUNTRY,YEAR,VALUE
0,45,MEAT AND EDIBLE MEAT OFFAL.,AFGHANISTAN TIS,2018,0.18
1,28,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",AFGHANISTAN TIS,2018,0.00
2,21,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,AFGHANISTAN TIS,2018,12.48
3,41,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,AFGHANISTAN TIS,2018,0.00
4,23,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,AFGHANISTAN TIS,2018,1.89
...,...,...,...,...,...
133365,9,"ARTICLES OF LEATHER,SADDLERY AND HARNESS;TRAVE...",SAMOA,2010,0.00
133366,63,"PAPER AND PAPERBOARD; ARTICLES OF PAPER PULP, ...",SAMOA,2010,0.00
133367,71,"PRINTED BOOKDS, NEWSPAPERS, PICTURES AND OTHER...",SAMOA,2010,NaN
133368,20,COTTON.,SAMOA,2010,0.00
133369,42,MAN-MADE FILAMENTS.,SAMOA,2010,NaN

In [21]:
# we can keep track of the the time it takes for various
# operations in Python - use the time module
import time
# collect a time-stamp
time.monotonic()

2567341.578

In [22]:
conn_norm.close()

# time stamp prior to running some code
tic = time.monotonic()

# now run some code that we want to benchmark
conn_norm = create_connection('india_export_norm.db')
cur = conn_norm.cursor()
cur.execute('DROP TABLE EXPORT')
create_table_sql = """CREATE TABLE IF NOT EXISTS [Export] (
    [VALUEID] INTEGER NOT NULL PRIMARY KEY,
    [HSCODE] INTEGER NOT NULL, 
    [COUNTRY] TEXT NOT NULL,
    [YEAR] INTEGER NOT NULL,
    [VALUE] REAL,
    FOREIGN KEY(COUNTRY) REFERENCES Country(COUNTRY),
    FOREIGN KEY(YEAR) REFERENCES YEAR(YEAR),
    FOREIGN KEY(HSCODE) REFERENCES Commodity(HSCODE)
);
"""
create_table(conn_norm, create_table_sql)

with conn_norm:
    start_time = time.monotonic() 
    for value in values:
        text = value[0]
        hscode = commodity_lookup[text]
        insert_tuple = (hscode, value[1], value[2], value[3])
        insert_value(conn_norm, insert_tuple)
end_time = time.monotonic()  

# time stamp after running some code
toc = time.monotonic()

# the difference is the execution time
print(toc - tic)

4.891000000294298

In [23]:
# an laternative approach is to use a list of tuples
# and the executemany() function.
conn_norm.close()

# record the start time
tic = time.monotonic()

# alternative approach starts with assmbling a list
# of tuples to inssert
insert_tuples = []

for value in values:
    text = value[0]
    hscode = commodity_lookup[text]
    insert_tuple = (hscode, value[1], value[2], value[3])
    insert_tuples.append(insert_tuple)

conn_norm = create_connection('india_export_norm.db')
cur = conn_norm.cursor()
cur.execute('DROP TABLE EXPORT')
create_table_sql = """CREATE TABLE IF NOT EXISTS [Export] (
    [VALUEID] INTEGER NOT NULL PRIMARY KEY,
    [HSCODE] INTEGER NOT NULL, 
    [COUNTRY] TEXT NOT NULL,
    [YEAR] INTEGER NOT NULL,
    [VALUE] REAL,
    FOREIGN KEY(COUNTRY) REFERENCES Country(COUNTRY),
    FOREIGN KEY(YEAR) REFERENCES YEAR(YEAR),
    FOREIGN KEY(HSCODE) REFERENCES Commodity(HSCODE)
);
"""
create_table(conn_norm, create_table_sql)
sql = ''' INSERT INTO Export (HSCODE, COUNTRY, YEAR, VALUE)
              VALUES(?, ?, ?, ?) '''
cur = conn_norm.cursor()
cur.executemany(sql, insert_tuples)
conn_norm.commit()

# record the finish time
toc = time.monotonic()

print(toc - tic)

2.9529999997466803

In [24]:
# That's a good improvement
original_time = 4.891000000294298
alt_time = 2.9529999997466803
speedup = original_time / alt_time
speedup

1.6562817476172933

In [26]:
conn_norm.commit()

In [27]:
conn.close()
conn_norm.close()

In [29]:
# soccer database

# step 1 - use Pandas to read is as a dataframe
df = pd.read_csv('c:\\temp\\all_players.csv')
df

                  Player Club  POS  GP  GS  MINS  Year Season
0           Roy Lassiter  TB     F  30  30  2580  1996    reg
1         Raul Diaz Arce  DC     F  28  28  2351  1996    reg
2        Eduardo Hurtado  LA     F  26  26  2323  1996    reg
3                  Preki  KC     M  32  32  2880  1996    reg
4          Brian McBride  CLB    F  28  28  2307  1996    reg
...                  ...  ...  ...  ..  ..   ...   ...    ...
15762  Alejandro Pozuelo  NaN    M   1   1   120  2020   post
15763        Franco Jara  NaN    F   2   2   210  2020   post
15764          Andy Polo  NaN    M   1   1   105  2020   post
15765    Cristian Roldan  NaN    M   4   4   360  2020   post
15766       Joevin Jones  NaN  D-M   4   4   260  2020   post

[15767 rows x 8 columns]

In [34]:
# isna() function returns True for n/a entries
# and Flase otherwise. Wrap the isna() result in a
# df[] clause to obtain a filtered list of players.
df[df['Club'].isna()]

                  Player Club  POS  GP  GS  MINS  Year Season
9583      Raul Diaz Arce  NaN    F   6   6   544  1996   post
9584        Roy Lassiter  NaN    F   5   5   407  1996   post
9585               Preki  NaN    M   5   5   450  1996   post
9586     Eduardo Hurtado  NaN    F   6   5   499  1996   post
9587      Gerell Elliott  NaN    F   3   1   112  1996   post
...                  ...  ...  ...  ..  ..   ...   ...    ...
15762  Alejandro Pozuelo  NaN    M   1   1   120  2020   post
15763        Franco Jara  NaN    F   2   2   210  2020   post
15764          Andy Polo  NaN    M   1   1   105  2020   post
15765    Cristian Roldan  NaN    M   4   4   360  2020   post
15766       Joevin Jones  NaN  D-M   4   4   260  2020   post

[5493 rows x 8 columns]

In [33]:
# Apply sum() opoeration to the isna() result to obtain a
# count of the unaffiliated players
df['Club'].isna().sum()

5493

In [40]:
# Let's list players who have more than 5 GP (games played)
df[df['GP'] == 33]

                 Player Club POS  GP  GS  MINS  Year Season
4570  Dwayne De Rosario  DC    M  33  31  2781  2011    reg
4620      Geoff Cameron  HOU   D  33  33  2970  2011    reg
4650     Osvaldo Alonso  MIN   M  33  32  2891  2011    reg
4785       Danny Califf  PHI   D  33  33  2970  2011    reg
4809    Gonzalo Segares  CHI   D  33  33  2950  2011    reg
...                 ...  ...  ..  ..  ..   ...   ...    ...
9087      Ulises Segura   DC   M  33  19  1788  2019    reg
9108   Darlington Nagbe  CLB   M  33  32  2825  2019    reg
9115    Thomas McNamara  HOU   M  33  15  1530  2019    reg
9192   Mathieu Deplagne  CIN   D  33  33  2878  2019    reg
9216        Matt Hedges  DAL   D  33  33  2884  2019    reg

[132 rows x 8 columns]

In [41]:
# create a "flat" (i.e. not normalized) sql dbase
conn = sqlite3.connect('all_players.db')
cur = conn.cursor()
df.to_sql('players', conn, if_exists='replace', index=False) # - writes the all_players.df to SQLIte DB
conn.commit()
conn.close()

In [42]:
# create some tables to make our database normalized
# club - distinct list of all clubs in the dbase
# position  - distinct list of all positions in the dbase
# year - distinct list of all years in the dbase
# season - distinct list of all seasons in the dbase
# player - list of all players with references to their club, position, etc.
# playerstats - list of player stastics per season

# first, create the normalized database
conn_norm = create_connection('players_norm.db', True)

In [44]:
# Create tables for club, position, year and season
conn = sqlite3.connect('all_players.db')
sql_statement = "SELECT DISTINCT CLUB FROM players"
rows = execute_sql_statement(sql_statement, conn)
rows = filter(lambda row: row[0], rows)
clubs = list(map(lambda row: row[0].strip(), rows))
clubs = list(set(clubs))

In [45]:
clubs

['CAN',
 'SLV',
 'CHI',
 'HOU',
 'LAFC',
 'ECU',
 'DAL',
 'HON',
 'POR',
 'ROC',
 'CLB',
 'NY',
 'NE',
 'CIN',
 'HAI',
 'MTL',
 'NSH',
 'NYR',
 'DC',
 'LA',
 'MET',
 'JAM',
 'PHI',
 'CIV',
 'TB',
 'MCF',
 'MIN',
 'RBNY',
 'SKC',
 'CHV',
 'MIA',
 'PAN',
 'MTQ',
 'GHA',
 'USA',
 'ATL',
 'RSL',
 'ORL',
 'COL',
 'TOR',
 'NYC',
 'VAN',
 'LFC',
 'KC',
 'SEA',
 'SJ']

In [46]:
# create the clubs table
create_table_sql = """CREATE TABLE IF NOT EXISTS[Clubs] (
    [Club] TEXT NOT NULL PRIMARY KEY
);
"""

create_table(conn_norm, create_table_sql)

In [47]:
# define our insertion helper function
def insert_club(conn, values):
    sql = """INSERT INTO Clubs(Club)
                VALUES(?)"""
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

# apply the insertion function to the unique list of clubs
with conn_norm:
    for club in clubs:
        insert_club(conn_norm, (club,))

In [48]:
sql_statement = "SELECT DISTINCT CLUB FROM Clubs"
rows = execute_sql_statement(sql_statement, conn_norm)
print(rows)

[('CAN',), ('SLV',), ('CHI',), ('HOU',), ('LAFC',), ('ECU',), ('DAL',), ('HON',), ('POR',), ('ROC',), ('CLB',), ('NY',), ('NE',), ('CIN',), ('HAI',), ('MTL',), ('NSH',), ('NYR',), ('DC',), ('LA',), ('MET',), ('JAM',), ('PHI',), ('CIV',), ('TB',), ('MCF',), ('MIN',), ('RBNY',), ('SKC',), ('CHV',), ('MIA',), ('PAN',), ('MTQ',), ('GHA',), ('USA',), ('ATL',), ('RSL',), ('ORL',), ('COL',), ('TOR',), ('NYC',), ('VAN',), ('LFC',), ('KC',), ('SEA',), ('SJ',)]

In [50]:
pd.read_sql("SELECT * FROM Clubs", conn_norm)

    Club
0    CAN
1    SLV
2    CHI
3    HOU
4   LAFC
5    ECU
6    DAL
7    HON
8    POR
9    ROC
10   CLB
11    NY
12    NE
13   CIN
14   HAI
15   MTL
16   NSH
17   NYR
18    DC
19    LA
20   MET
21   JAM
22   PHI
23   CIV
24    TB
25   MCF
26   MIN
27  RBNY
28   SKC
29   CHV
30   MIA
31   PAN
32   MTQ
33   GHA
34   USA
35   ATL
36   RSL
37   ORL
38   COL
39   TOR
40   NYC
41   VAN
42   LFC
43    KC
44   SEA
45    SJ

In [51]:
# rinse and repeat for the positions table
sql_statement = "SELECT DISTINCT POS FROM players"
rows = execute_sql_statement(sql_statement, conn)
rows = filter(lambda row: row[0], rows)
positions = list(map(lambda row: row[0].strip(), rows))
positions = list(set(positions))

In [52]:
positions

['F', 'D', 'M', 'M-F', 'D-M', 'F-M', 'M-D']

In [53]:
create_table_sql = """CREATE TABLE IF NOT EXISTS[Positions] (
    [Position] TEXT NOT NULL PRIMARY KEY
);
"""

create_table(conn_norm, create_table_sql)

In [54]:
def insert_position(conn, values):
    sql = """INSERT INTO Positions(Position)
                VALUES(?)"""
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid


with conn_norm:
    for position in positions:
        insert_position(conn_norm, (position,))

In [55]:
pd.read_sql("SELECT * FROM Positions", conn_norm)

  Position
0        F
1        D
2        M
3      M-F
4      D-M
5      F-M
6      M-D

In [56]:
# repeat for the years table
sql_statement = "SELECT DISTINCT Year FROM players"
rows = execute_sql_statement(sql_statement, conn)
rows = filter(lambda row: row[0], rows)
years = list(map(lambda row: int(row[0]), rows))
years = list(set(years))

In [57]:
years

[1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020]

In [58]:
create_table_sql = """CREATE TABLE IF NOT EXISTS[Years] (
    [Year] INTEGER NOT NULL PRIMARY KEY
);
"""

create_table(conn_norm, create_table_sql)

In [59]:
def insert_year(conn, values):
    sql = """INSERT INTO Years(Year)
                VALUES(?)"""
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid


with conn_norm:
    for year in years:
        insert_year(conn_norm, (year,))

In [60]:
pd.read_sql("SELECT * from YEARS", conn_norm)

    Year
0   1996
1   1997
2   1998
3   1999
4   2000
5   2001
6   2002
7   2003
8   2004
9   2005
10  2006
11  2007
12  2008
13  2009
14  2010
15  2011
16  2012
17  2013
18  2014
19  2015
20  2016
21  2017
22  2018
23  2019
24  2020

In [61]:
# repeat again for the season
sql_statement = "SELECT DISTINCT season FROM players"
rows = execute_sql_statement(sql_statement, conn)
rows = filter(lambda row: row[0], rows)
seasons = list(map(lambda row: row[0].strip(), rows))
seasons = list(set(seasons))

In [62]:
seasons

['reg', 'post']

In [63]:
create_table_sql = """CREATE TABLE IF NOT EXISTS[Seasons] (
    [Season] TEXT NOT NULL PRIMARY KEY
);
"""

create_table(conn_norm, create_table_sql)

In [64]:
def insert_season(conn, values):
    sql = """INSERT INTO Seasons(season)
                VALUES(?)"""
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid


with conn_norm:
    for season in seasons:
        insert_season(conn_norm, (season,))

In [65]:
pd.read_sql("SELECT * FROM SEASONS", conn_norm)

  Season
0    reg
1   post

In [66]:
ex_name=("Dwayne De Rosario",)

In [67]:
ex_name

('Dwayne De Rosario',)

In [68]:
ex_name = ex_name[0].strip()

In [69]:
ex_name

'Dwayne De Rosario'

In [70]:
name = ex_name.split(' ', 1)

In [71]:
name

['Dwayne', 'De Rosario']

In [72]:
len(name)

2

In [73]:
sql_statement = "SELECT DISTINCT player FROM players"
rows = execute_sql_statement(sql_statement, conn)
players = []
for row in rows:
    row = row[0].strip()
    name = row.split(' ', 1)
    if len(name) == 2:
        first, last = name
        first = first.strip()
        last = last.strip()
        players.append((first, last))
    elif len(name) == 1:
        first = name[0]
        players.append((first, None))

In [74]:
players

[('Roy', 'Lassiter'),
 ('Raul', 'Diaz Arce'),
 ('Eduardo', 'Hurtado'),
 ('Preki', None),
 ('Brian', 'McBride'),
 ('Steve', 'Rammel'),
 ('Vitalis', 'Takawira'),
 ('Paul', 'Bravo'),
 ('Jason', 'Kreis'),
 ('Giovanni', 'Savarese'),
 ('Pete', 'Marino'),
 ('Jean', 'Harbor'),
 ('Joe-Max', 'Moore'),
 ('Eric', 'Wynalda'),
 ('Eduardo', 'Espinoza'),
 ('Mark', 'Chung'),
 ('Shaun', 'Bartlett'),
 ('Giuseppe', 'Galderisi'),
 ('Cobi', 'Jones'),
 ('Steve', 'Ralston'),
 ('Marcelo', 'Balboa'),
 ('Adrian', 'Paz'),
 ('Alberto', 'Naveda'),
 ('Harut', 'Karapetyan'),
 ('Hugo', 'Sanchez'),
 ('Maurice', 'Johnston'),
 ('Antony', 'De Avila'),
 ('Mauricio', 'Cienfuegos'),
 ('Gerell', 'Elliott'),
 ('Martin', 'Vasquez'),
 ('Brian', 'Maisonneuve'),
 ('John', 'Kerr'),
 ('A.J.', 'Wood'),
 ('Steve', 'Trittschuh'),
 ('Diego', 'Viera'),
 ('Marco', 'Etcheverry'),
 ('Carlos', 'Valderrama'),
 ('Tony', 'Sanneh'),
 ('Mike', 'Sorber'),
 ('Darren', 'Sawatzky'),
 ('Miles', 'Joseph'),
 ('Brian', 'Haynes'),
 ('Paul', 'Keegan'),
 ('Rob', 'Johnson'),
 ('Marcelo', 'Carrera'),
 ('Washington', 'Rodriguez'),
 ('Greg', 'Vanney'),
 ('Tab', 'Ramos'),
 ('Roberto', 'Donadoni'),
 ('John', 'Harkes'),
 ('Chris', 'Henderson'),
 ('John', 'Doyle'),
 ('Ivan', 'McKinley'),
 ('Welton', None),
 ('Leonel', 'Alvarez'),
 ('Scott', 'Benedetti'),
 ('Jaime', 'Moreno'),
 ('Geoff', 'Aunger'),
 ('Paul', 'Caligiuri'),
 ('Mark', 'Semioli'),
 ('Doctor', 'Khumalo'),
 ('Shawn', 'Medved'),
 ('Jeff', 'Baicher'),
 ('Alan', 'Prampin'),
 ('Robert', 'Warzycha'),
 ('Billy', 'Thompson'),
 ('Ben', 'Iroha'),
 ('Diego', 'Sonora'),
 ('Ted', 'Eck'),
 ('Roy', 'Wegerle'),
 ('Frank', 'Klopas'),
 ('Guillermo', 'Jara'),
 ('Cle', 'Kooiman'),
 ('Troy', 'Dayak'),
 ('Arash', 'Noamouz'),
 ('Goran', 'Hunjak'),
 ('Imad', 'Baba'),
 ('Jose', 'Vasquez'),
 ('Richard', 'Sharpe'),
 ('Scott', 'Uderitz'),
 ('Jorge', 'Salcedo'),
 ('Eddie', 'Pope'),
 ('Robert', 'Ukrop'),
 ('Lawrence', 'Lozzano'),
 ('Altimont', 'Butler'),
 ('Uche', 'Okafor'),
 ('Nicola', 'Caricola'),
 ('Steve', 'Pittman'),
 ('Jeff', 'Agoos'),
 ('Richie', 'Williams'),
 ('Mario', 'Gori'),
 ('Kris', 'Kelderman'),
 ('Peter', 'Woodring'),
 ('Jorge', 'Rodas'),
 ('Ricardo', 'Iribarren'),
 ('Todd', 'Yeagley'),
 ('Frankie', 'Hejduk'),
 ('John', 'Maessner'),
 ('Mark', 'Santel'),
 ('Ian', 'Hennessey'),
 ('Ramiro', 'Corrales'),
 ('Henry', 'Gutierrez'),
 ('Chris', 'Unger'),
 ('Rhett', 'Harty'),
 ('Mike', 'Burns'),
 ('Mike', 'Clark'),
 ('Alexi', 'Lalas'),
 ('Chris', 'Armas'),
 ('Peter', 'Vermes'),
 ('Jesse', 'Marsch'),
 ('Yari', 'Allnutt'),
 ('Paul', 'Holocher'),
 ('Mark', 'Watson'),
 ('Richard', 'Farrer'),
 ('Robin', 'Fraser'),
 ('Matt', 'Kmosko'),
 ('Sean', 'Henderson'),
 ('Zak', 'Ibsen'),
 ('Ted', 'Chronopoulos'),
 ('Brad', 'Wilson'),
 ('Tim', 'Martin'),
 ('John', 'Garvey'),
 ('Ante', 'Razov'),
 ('Dante', 'Washington'),
 ('Brian', 'Bliss'),
 ('Chad', 'Ashton'),
 ('Diego', 'Gutierrez'),
 ('John', 'DeBrito'),
 ('Paul', 'Wright'),
 ('Sean', 'Bowers'),
 ('Eddie', 'Lewis'),
 ('Evans', 'Wise'),
 ('Ruben', 'Hernandez'),
 ('Felipe', 'Rodriguez'),
 ('Manny', 'Lagos'),
 ('Eric', 'Eichmann'),
 ('Kevin', 'Wylie'),
 ('Victor', 'Mella'),
 ('Michael', 'Emenalo'),
 ('Petter', 'Villegas'),
 ('Obi', 'Monome'),
 ('Andrew', 'Shue'),
 ('Todd', 'Miller'),
 ('Iain', 'Fraser'),
 ('Denis', 'Hamlett'),
 ('Brian', 'Kamler'),
 ('Kevin', 'Koetters'),
 ('David', 'Vaudreuil'),
 ('Damian', 'Silvera'),
 ('Manny', 'Motajo'),
 ('Curt', 'Onalfo'),
 ('Nidal', 'Baba'),
 ('Raimo', 'De Vries'),
 ('Adam', 'Frye'),
 ('Rob', 'Smith'),
 ('Dan', 'Calichman'),
 ('Scott', 'Cannon'),
 ('Matt', 'McKeon'),
 ('Edmundo', 'Rodriguez'),
 ('Samuel', 'Ekeme'),
 ('George', 'Gelnovatch'),
 ('Said', 'Fazlagic'),
 ('Ricci', 'Greenwood'),
 ('Rivers', 'Guthrie'),
 ('Ken', 'Hesse'),
 ('Mirsad', 'Huseinovic'),
 ('Mike', 'Huwiler'),
 ('Tayt', 'Ianni'),
 ('Chris', 'Brauchle'),
 ('Danny', 'Barber'),
 ('Andrew', 'Restrepo'),
 ('Travis', 'Rinker'),
 ('Ed', 'Pinon'),
 ('Sterling', 'Wescott'),
 ('Bojan', 'Vuckovic'),
 ('Rene', 'Ortiz'),
 ('Martin', 'Munnelly'),
 ('Omid', 'Namazi'),
 ('Brent', 'Longenecker'),
 ('Francis', 'Okaroh'),
 ('Thor', 'Lee'),
 ('Stan', 'Lembryk'),
 ('Josh', 'McKay'),
 ('Greg', 'Lalas'),
 ('Brandon', 'Ward'),
 ('Rafael', 'Amaya'),
 ('Ben', 'Crawley'),
 ('Troy', 'Edwards'),
 ('John', 'Diffley'),
 ('Erik', 'Imler'),
 ('Louis', 'Ken-Kwofie'),
 ('Mac', 'Cozier'),
 ('Tom', 'Lips'),
 ('Ed', 'Puskarich'),
 ('Tommy', 'Reasoner'),
 ('Brandon', 'Pollard'),
 ('Richard', 'Weiszmann'),
 ('Patrick', 'Tardieu'),
 ('Jeff', 'Zaun'),
 ('Ryshiem', 'Henderson'),
 ('Jorge', 'Flores'),
 ('Frank', 'Yallop'),
 ('Shane', 'Battelle'),
 ('Oscar', 'Draguicevich'),
 ('Derek', 'Backman'),
 ('Juan', 'Suarez'),
 ('Paul', 'Young'),
 ('Jimmy', 'Glenn'),
 ('Ian', 'Butterworth'),
 ('Ted', 'Gillen'),
 ('Brian', 'Bates'),
 ('Clint', 'Peay'),
 ('Mickey', 'Kydes'),
 ('Matt', 'Knowles'),
 ('Nelson', 'Vargas'),
 ('Dominic', 'Kinnear'),
 ('Cristian', 'da Silva'),
 ('Janusz', 'Michallik'),
 ('Ronald', 'Cerritos'),
 ('Damian', None),
 ('Gilmar', None),
 ('Chiquinho', 'Conde'),
 ('David', 'Patino'),
 ('Wolde', 'Harris'),
 ('Martin', 'Machon'),
 ('Thomas', 'Dooley'),
 ('Jorge', 'Rodriguez'),
 ('Sam', 'George'),
 ('Alain', 'Sutter'),
 ('Christopher', 'Sullivan'),
 ('Daniel', 'Peinado'),
 ('Ross', 'Paule'),
 ('Jason', 'Farrell'),
 ('Danny', 'Pena'),
 ('Wade', 'Webber'),
 ('Ryan', 'Tinsley'),
 ('Brian', 'Kelly'),
 ('Temoc', 'Suarez'),
 ('Alejandro', 'Farias'),
 ('Istvan', 'Urbanyi'),
 ('Branco', None),
 ('Mike', 'Lapper'),
 ('Zico', None),
 ('Joao', 'Batista'),
 ('Brian', 'Johnson'),
 ('Musa', 'Shannon'),
 ('Brian', 'Taylor'),
 ('Ansil', 'Elcock'),
 ('Arnold', 'Cruz'),
 ('Sergio', 'Miguez'),
 ('Tom', 'Soehn'),
 ('Tote', 'Castaneda'),
 ('Marco', 'Ferruzzi'),
 ('Daniel', 'Guzman'),
 ('Andrew', 'Lewis'),
 ('Gerson', 'Echeverry'),
 ('Bill', 'Harte'),
 ('Peter', 'Hattrup'),
 ('Jose', 'Botello'),
 ('Tahj', 'Jakins'),
 ('Ezra', 'Hendrickson'),
 ('Richard', 'Gough'),
 ('Steve', 'Jolley'),
 ('Guido', None),
 ('Braeden', 'Cloutier'),
 ('Brian', 'Dunseth'),
 ('Nino', 'Da Silva'),
 ('Jake', 'Dancy'),
 ('Ubusuku', 'Abukusumo'),
 ('Esmundo', 'Rodriguez'),
 ('Juan', 'Sastoque'),
 ('Joey', 'Thieman'),
 ('Dionysus', 'Sebwe'),
 ('Ike', 'Udeh'),
 ('Gabe', 'Jones'),
 ('Steve', 'Klein'),
 ('Peter', 'Lak'),
 ('Gerardo', 'Laterza'),
 ('Jamel', 'Mitchell'),
 ('David', 'Moxom'),
 ('Patrick', 'Olalere'),
 ('Joao', 'Luiz'),
 ('Dan', 'Stebbins'),
 ('Marco', 'Rizi'),
 ('Carlos', 'Llamosa'),
 ('Eric', 'Quill'),
 ('Joey', 'Martinez'),
 ('Chris', 'Martinez'),
 ('Carlos', 'Parra'),
 ('Eric', 'Dade'),
 ('John', 'Jones'),
 ('Silvio', 'Rudman'),
 ('Leonardo', 'Squadrone'),
 ('Kerry', 'Zavagnin'),
 ('Mike', 'Duhaney'),
 ('Rob', 'Jachym'),
 ('Stern', 'John'),
 ('Diego', 'Serna'),
 ('Roman', 'Kosecki'),
 ('Mauricio', 'Ramos'),
 ('Jim', 'Rooney'),
 ('Josh', 'Wolff'),
 ('Jeff', 'Cunningham'),
 ('Lubos', 'Kubik'),
 ('Edwin', 'Gorter'),
 ('Jerzy', 'Podbrozny'),
 ('Peter', 'Nowak'),
 ('Carlos', 'Hermosillo'),
 ('Paul', 'Dougherty'),
 ('Waldir', None),
 ('Clint', 'Mathis'),
 ('Paulinho', 'McLaren'),
 ('Marcelo', 'Herrera'),
 ('Mickey', 'Trotman'),
 ('Ben', 'Olsen'),
 ('Ritchie', 'Kotschau'),
 ('Paul', 'Rideout'),
 ('Marquis', 'White'),
 ('Marquinho', None),
 ('Joey', 'DiGiamarino'),
 ('Jair', None),
 ('Chad', 'Deering'),
 ('Jerry', 'Tamashiro'),
 ('Francisco', 'Uribe'),
 ('Johnny', 'Torres'),
 ('Wade', 'Barrett'),
 ('Jan', 'Eriksson'),
 ('C.J.', 'Brown'),
 ('Andy', 'Williams'),
 ('Marcelo', 'Vega'),
 ('Chris', 'Houser'),
 ('Leo', 'Cullen'),
 ('Wellington', 'Sanchez'),
 ('Scott', 'Vermillion'),
 ('Brian', 'West'),
 ('Richard', 'Goulooze'),
 ('Mike', 'Petke'),
 ('Roger', 'Thomas'),
 ('Tyrone', 'Marshall'),
 ('Oscar', 'Pareja'),
 ('Joe', 'Franchino'),
 ('Pablo', 'Mastroeni'),
 ('Brian', 'Sebapole'),
 ('Jason', 'Boyce'),
 ('Refik', 'Sabanadzovic'),
 ('Billy', 'Walsh'),
 ('Andrew', 'Gregor'),
 ('Carey', 'Talley'),
 ('Jamar', 'Beasley'),
 ('Brian', 'Loftin'),
 ('Mike', 'Slivinski'),
 ('Daniel', 'Hernandez'),
 ('Arley', 'Palacios'),
 ('Carlos', 'Rocha'),
 ('Carlos', 'Ledesma'),
 ('Alen', 'Kozic'),
 ('Edgar', 'Hernandez'),
 ('Andre', 'Nunley'),
 ('Alberto', 'Montoya'),
 ('R.T.', 'Moore'),
 ('Tom', 'McLaughlin'),
 ('Ben', 'Parry'),
 ('Zion', 'Renfrum'),
 ('Michael', 'Richardson'),
 ('Nick', 'Theslof'),
 ('Barry', 'Swift'),
 ('Travis', 'Roy'),
 ('Lyle', 'Yorks'),
 ('Jesse', 'Van Saun'),
 ('Craig', 'Yacks'),
 ('Steve', 'Bell'),
 ('Chris', 'Brown'),
 ('Danny', 'Care'),
 ('Joe', 'Carver'),
 ('Eric', 'Chaisongkram'),
 ('Chuck', 'Codd'),
 ('Kevin', 'Coye'),
 ('Chad', 'McCarty'),
 ('Judah', 'Cooks'),
 ('David', 'Quesada'),
 ('Joe', 'Munoz'),
 ('Tony', 'Kuhn'),
 ('Dahir', 'Mohammed'),
 ('Tim', 'Weaver'),
 ('Jacek', 'Ziober'),
 ('Josh', 'Keller'),
 ('Jason', 'Bent'),
 ('Chris', 'Klein'),
 ('David', 'Nakhid'),
 ('Vicente', 'Figueroa'),
 ('Jorge', 'Dely Valdes'),
 ('Alejandro', 'Sequeira'),
 ('Roy', 'Myers'),
 ('Alex', 'Bunbury'),
 ('Dario', 'Brose'),
 ('Jefferson', 'Gottardi'),
 ('Ariel', 'Graziani'),
 ('Henry', 'Zambrano'),
 ('Mauricio', 'Wright'),
 ('John', 'Jairo Trellez'),
 ('Jay', 'Heaps'),
 ('Dema', 'Kovalenko'),
 ('Anders', 'Limpar'),
 ('Simon', 'Elliott'),
 ('Sasa', 'Curcic'),
 ('Bobby', 'Rhine'),
 ('Seth', 'George'),
 ('Jamie', 'Clark'),
 ('Saul', 'Martinez'),
 ('Mauricio', 'Solis'),
 ('Richard', 'Mulrooney'),
 ('Roberto', 'Gaucho'),
 ('Paul', 'Broome'),
 ('Kevin', 'Anderson'),
 ('Nansha', 'Kalonji'),
 ('Jimmy', 'Conrad'),
 ('John', 'Wolyniec'),
 ('Francisco', 'Gomez'),
 ('Maurizio', 'Rocha'),
 ('Scott', 'Bower'),
 ('Tim', 'Sahaydak'),
 ('Jason', 'Moore'),
 ('Antonio', 'Otero'),
 ('Sergi', 'Daniv'),
 ('Cesar', 'Alvarado'),
 ('Brandon', 'Prideaux'),
 ('Marvin', 'Quijano'),
 ('Chris', 'Albright'),
 ('Jeff', 'Bilyk'),
 ('Mohammad', 'Khakpour'),
 ('Tomasz', 'Wygonik'),
 ('Tony', 'Soto'),
 ('Maxi', 'Viera'),
 ('Caleb', 'Porter'),
 ('John', 'Rusek'),
 ('Michael', 'Green'),
 ('Ray', 'Goodlett'),
 ('Chaka', 'Daley'),
 ('Gabe', 'Eastman'),
 ('Fernando', 'Fernandes'),
 ('Jaime', 'Estupinan'),
 ('Carlos', 'Farias'),
 ('Anthony', 'Farras'),
 ('Andreas', 'Maier'),
 ('Jim', 'Manganello'),
 ('Leighton', "O'Brien"),
 ('Andrew', 'Parrish'),
 ('Scott', 'Pearson'),
 ('Eric', 'Kvello'),
 ('Matt', 'Chulis'),
 ('Mark', 'Baena'),
 ('Evan', 'Whitfield'),
 ('Lazo', 'Alavanja'),
 ('Kevin', 'Knight'),
 ('David', 'Hayes'),
 ('Joseph', 'Addo'),
 ('Kirk', 'Wilson'),
 ('John', 'Ball'),
 ('Jeremy', 'Aldrich'),
 ('Paulo', 'Dos Santos'),
 ('Mamadou', 'Diallo'),
 ('Adolfo', 'Valencia'),
 ('Alex', 'Comas'),
 ('Miklos', 'Molnar'),
 ('Junior', 'Agogo'),
 ('Hristo', 'Stoitchkov'),
 ('Abdul', 'Thompson Conteh'),
 ('Aleksey', 'Korol'),
 ('Wojtek', 'Krakowiak'),
 ('Luis', 'Hernandez'),
 ('Sebastien', 'Vorbe'),
 ('Sasha', 'Victorine'),
 ('Khodadad', 'Azizi'),
 ('John', 'Wilmar Perez'),
 ('Gary', 'Glasgow'),
 ('Peter', 'Vagenas'),
 ('Matt', 'Okoh'),
 ('Antonio', 'Martinez'),
 ('Ian', 'Russell'),
 ('DaMarcus', 'Beasley'),
 ('Wes', 'Hart'),
 ('William', 'Sunsing'),
 ('Steve', 'Shak'),
 ('Danny', 'Califf'),
 ('Carlos', 'Bocanegra'),
 ('Kalin', 'Bankov'),
 ('Kyle', 'Beckerman'),
 ('Jose', 'Luis Morales'),
 ('Lothar', 'Matthaus'),
 ('Peter', 'Byaruhanga'),
 ('Bobby', 'Convey'),
 ('Micah', 'Cooks'),
 ('Shaker', 'Asad'),
 ('Eric', 'Denton'),
 ('Justin', 'Evans'),
 ('Travis', 'Mulraine'),
 ('Roland', 'Aguilera'),
 ('Lance', 'Key'),
 ('John', 'Wilson'),
 ('Craig', 'Waibel'),
 ('Gerard', 'Lagos'),
 ('Yuri', 'Lavrinenko'),
 ('Chris', 'Jahr'),
 ('Ernest', 'Inneh'),
 ('Ihor', 'Dotsenko'),
 ('Ryan', 'Edwards'),
 ('Julian', 'Gomez'),
 ('Keith', 'Beach'),
 ('Steve', 'Bernal'),
 ('Danny', 'DeVall'),
 ('Christoff', 'Lindenmayer'),
 ('Mario', 'Longo'),
 ('Sergio', 'Salas'),
 ("O'Neil", 'Peart'),
 ('Angel', 'Rivillo'),
 ('Sheldon', 'Thomas'),
 ('Alijohn', 'Utush'),
 ('Alan', 'Woods'),
 ('Fabio', 'Zuniga'),
 ('Dominic', 'Schell'),
 ('Nick', 'Garcia'),
 ('Orlando', 'Perez'),
 ('Seth', 'Trembly'),
 ('Tenywa', 'Bonseu'),
 ('Keyeno', 'Thomas'),
 ('Adam', 'Eyre'),
 ('Jeff', 'DiMaria'),
 ('Amos', 'Magee'),
 ('Miroslaw', 'Rzepa'),
 ('Steve', 'Armas'),
 ('Manuel', 'Bucuane'),
 ('Rusty', 'Pierce'),
 ('Ivan', 'Polic'),
 ('Mike', 'Burke'),
 ('Alex', 'Pineda Chacon'),
 ('John', 'Spencer'),
 ('Cate', None),
 ('Rodrigo', 'Faria'),
 ('Landon', 'Donovan'),
 ('Chris', 'Carrieri'),
 ('Dwayne', 'De Rosario'),
 ('Santino', 'Quaranta'),
 ('Mark', 'Lisi'),
 ('Onandi', 'Lowe'),
 ('Devin', 'Barclay'),
 ('Edson', 'Buddle'),
 ('Stephen', 'Armstrong'),
 ('Joselito', 'Vaca'),
 ('Ryan', 'Suarez'),
 ('Brian', 'Mullan'),
 ('Ali', 'Curtis'),
 ('Eddie', 'Johnson'),
 ('Brian', 'Ching'),
 ('Jose', 'Alegria'),
 ('Pedro', 'Alvarez'),
 ('Michael', 'Butler'),
 ('Ian', 'Bishop'),
 ('Bryan', 'Namoff'),
 ('Craig', 'Ziadie'),
 ('Ian', 'Woan'),
 ('Ryan', 'Nelsen'),
 ('Greg', 'Simmonds'),
 ('Ronnie', 'Ekelund'),
 ('Jim', 'Curtin'),
 ('Craig', 'Demmin'),
 ('Duncan', 'Oughton'),
 ('Nick', 'Downing'),
 ('Tony', 'Frias'),
 ('Jose', 'Burciaga Jr.'),
 ('Eddie', 'Robinson'),
 ('Don', 'Gramenz'),
 ('Fausto', 'Klinger'),
 ('Stephen', 'Danbusky'),
 ('Fred', 'DeGand'),
 ('Narciso', 'Fernandes'),
 ('Matt', 'Fundenberger'),
 ('John', 'Carroll'),
 ('Mersim', 'Beskovic'),
 ('Fernando', 'Ortiz-Solis'),
 ('Paul', 'Schneider'),
 ('Jeff', 'Rigby'),
 ('Miguel', 'Saavedra'),
 ('Alberto', 'Munoz'),
 ('Randy', 'Merkel'),
 ('Chad', 'Prince'),
 ('Ali', 'Ngon'),
 ('Cordt', 'Weinstein'),
 ('Josue', 'Mayard'),
 ('Kevin', 'Adams'),
 ('Alex', 'Bengard'),
 ('Isaias', 'Bardales Jr.'),
 ('Chris', 'Dawes'),
 ('Neathan', 'Gibson'),
 ('Stephen', 'Herdsman'),
 ('Martin', 'Klinger'),
 ('Gus', 'Kartes'),
 ('Carlos', 'Ruiz'),
 ('Taylor', 'Twellman'),
 ('Dario', 'Fabbro'),
 ('Igor', 'Simutenkov'),
 ('Brad', 'Davis'),
 ('Zach', 'Kingsley'),
 ('Steve', 'Morrow'),
 ('Kelly', 'Gray'),
 ('Kyle', 'Martino'),
 ('Ronnie', "O'Brien"),
 ('Eliseo', 'Quintanilla'),
 ('Gavin', 'Glinton'),
 ('Winston', 'Griffiths'),
 ('Daouda', 'Kante'),
 ('Raul', 'Palacios'),
 ('Ian', 'Fuller'),
 ('Jeff', 'Moore'),
 ('Jeff', 'Stewart'),
 ('Freddy', 'Garcia'),
 ('Milton', 'Reyes'),
 ('Alejandro', 'Moreno'),
 ('Carlos', 'Semedo'),
 ('Billy', 'Sleeth'),
 ('Carl', 'Bussey'),
 ('Daniel', 'Torres'),
 ('Rick', 'Titus'),
 ('Hamisi', 'Amani-Dove'),
 ('Jesus', 'Ochoa'),
 ('Jordan', 'Stone'),
 ('Danny', 'Jackson'),
 ('Justin', 'Mapp'),
 ('Dipsy', 'Selolwane'),
 ('Luchi', 'Gonzalez'),
 ('Jeff', 'Matteo'),
 ('Leo', 'Krupnik'),
 ('Marshall', 'Leonard'),
 ('Chris', 'Roner'),
 ('McKinley', 'Tennyson'),
 ('Birahim', 'Diop'),
 ('Darin', 'Lewis'),
 ('Brian', 'Piesner'),
 ('Scott', 'Powers'),
 ('Dustin', 'Sheppard'),
 ('Sam', 'Forko'),
 ('Matt', 'Behncke'),
 ('Lee', 'Morrison'),
 ('Davy', 'Arnaud'),
 ('Chris', 'Brunt'),
 ('Nelson', 'Akwari'),
 ('Chris', 'Leitch'),
 ('Craig', 'Capano'),
 ('Dennis', 'Ludwig'),
 ('Barry', 'Alvarez'),
 ('Percy', 'Olivares'),
 ('Mike', 'Nugent'),
 ('Damani', 'Ralph'),
 ('Pat', 'Noonan'),
 ('Mike', 'Magee'),
 ('Zizi', 'Roberts'),
 ('Jamil', 'Walker'),
 ('Amado', 'Guevara'),
 ('Alecko', 'Eskandarian'),
 ('Ricardo', 'Clark'),
 ('Toni', 'Nhleko'),
 ('Nate', 'Jaqua'),
 ('Shalrie', 'Joseph'),
 ('Jacob', 'LeBlanc'),
 ('Jose', 'Cancela'),
 ('Todd', 'Dunivant'),
 ('Chris', 'Gbandi'),
 ('Earnie', 'Stewart'),
 ('Arturo', 'Alvarez'),
 ('Eddie', 'Gaven'),
 ('Galin', 'Ivanov'),
 ('Matt', 'Crawford'),
 ('Shavar', 'Thomas'),
 ('Andrzej', 'Juskowiak'),
 ('Diego', 'Walsh'),
 ('Alex', 'Zotinca'),
 ('Jake', 'Traeger'),
 ('Casey', 'Schmidt'),
 ('Hong', 'Myung Bo'),
 ('Jorge', 'Vazquez'),
 ('Jonathan', 'Bolanos'),
 ('Ryan', 'Futagaki'),
 ('Gilles', 'Grimandi'),
 ('Kevin', 'Friedland'),
 ('Tim', 'Glowienka'),
 ('Ricky', 'Lewis'),
 ('Johanes', 'Maliza'),
 ('Andres', 'Murriagui'),
 ('Trevor', 'Perea'),
 ('Michael', 'Piserchio'),
 ('Jose', 'Retiz'),
 ('Michael', 'Ritch'),
 ('Chris', 'Bagley'),
 ('Hérculez', 'Gómez'),
 ('Roger', 'Levesque'),
 ('Nat', 'Borchers'),
 ('Brian', 'Carroll'),
 ('Taylor', 'Graham'),
 ('Jack', 'Jewsbury'),
 ('Nick', 'Walls'),
 ('Andy', 'Rosenband'),
 ('David', 'Stokes'),
 ('Jason', 'Thompson'),
 ('Scot', 'Thompson'),
 ('Mandi', 'Urbas'),
 ('Alex', 'Blake'),
 ('Ibrahim', 'Kante'),
 ('Juan', 'Forchetti'),
 ('Daryl', 'Powell'),
 ('Jose', 'Galvan'),
 ('Guillermo', 'Gonzalez'),
 ('Alberto', 'Rizo'),
 ('Kenny', 'Arena'),
 ('Mark', 'Williams'),
 ('Philip', 'Salyer'),
 ('Logan', 'Pause'),
 ('Tim', 'Regan'),
 ('Edgar', 'Bartolomeu'),
 ('Arturo', 'Torres'),
 ('Thiago', 'Martins'),
 ('Jovan', 'Kirovski'),
 ('Peguero', 'Jean Philippe'),
 ('Clint', 'Dempsey'),
 ('Cornell', 'Glen'),
 ('Freddy', 'Adu'),
 ('Fabian', 'Taylor'),
 ('Andreas', 'Herzog'),
 ('Joseph', 'Ngwenya'),
 ('Jordan', 'Cila'),
 ('Andy', 'Herron'),
 ('Christian', 'Gomez'),
 ('Matt', 'Taylor'),
 ('Andy', 'Dorman'),
 ('Sergio', 'Galvan Rey'),
 ('Simo', 'Valakari'),
 ('Joshua', 'Gros'),
 ('Ned', 'Grabavoy'),
 ('Alberto', 'Delgado'),
 ('Felix', 'Brillant'),
 ('Jeff', 'Parke'),
 ('Richie', 'Baker'),
 ('Antonio', 'de la Torre'),
 ('Scott', 'Buete'),
 ('Chris', 'Wingert'),
 ('Ryan', 'Cochrane'),
 ('Danny', 'Szetela'),
 ('Gilberto', 'Flores'),
 ('David', 'Testo'),
 ('Rey', 'Angel Martinez'),
 ('Marcelo', 'Saragosa'),
 ('Cory', 'Gibbs'),
 ('Chad', 'Marshall'),
 ('Erick', 'Scott'),
 ('Michael', 'Bradley'),
 ('Steve', 'Howey'),
 ('Seth', 'Stammler'),
 ('Kevin', 'Ara'),
 ('Adrian', 'Cann'),
 ('David', 'Wagenfuhr'),
 ('Ty', 'Maurin'),
 ('Vuk', 'Rasovic'),
 ('Sumed', 'Ibrahim'),
 ('Bobby', 'Thompson'),
 ('Brian', 'Roberts'),
 ('Tighe', 'Dombrowski'),
 ('Michael', 'Erush'),
 ('David', 'de la Torre'),
 ('G.R.', 'Cannon'),
 ('Denny', 'Clanton'),
 ('Perek', 'Belleh'),
 ('Luke', 'Vercollone'),
 ('Tim', 'Lawson'),
 ('Jamal', 'Sutton'),
 ('Nana', 'Kuffour'),
 ('Josh', 'Gardner'),
 ('Chris', 'Aloisi'),
 ('Khari', 'Stephenson'),
 ('Leonard', 'Griffin'),
 ('Clarence', 'Goodson'),
 ('David', 'Castellanos'),
 ('Justin', 'Detter'),
 ('Avery', 'John'),
 ('Alexandre', 'Boucicaut'),
 ('Alan', 'Gordon'),
 ('Ramon', 'Nunez'),
 ('Gary', 'Sullivan'),
 ('Pablo', 'Brenes'),
 ('Youri', 'Djorkaeff'),
 ('Scott', 'Sealy'),
 ('Chris', 'Rolfe'),
 ('Roberto', 'Mina'),
 ('Thiago', None),
 ('Alain', 'Nkong'),
 ('Hector', 'Cuadros'),
 ('Dedi', 'Ben Dayan'),
 ('Knox', 'Cameron'),
 ('Abe', 'Thompson'),
 ('Gonzalo', 'Segares'),
 ('Lubos', 'Reiter'),
 ('Khano', 'Smith'),
 ('Bobby', 'Boswell'),
 ('Aaron', 'Pitchkolan'),
 ('Juan', 'Francisco Palencia'),
 ('Isaac', 'Romo'),
 ('Ramon', 'Ramirez'),
 ('Ivan', 'Guerrero'),
 ('Abbe', 'Ibrahim'),
 ('Terry', 'Cooke'),
 ('Jamie', 'Watson'),
 ('Douglas', 'Sequeira'),
 ('Eric', 'Vasquez'),
 ('Chad', 'Barrett'),
 ('James', 'Riley'),
 ('Ednaldo', 'da Conceicao'),
 ('Julian', 'Nash'),
 ('Ryan', 'Pore'),
 ('Samuel', 'Caballero'),
 ('Melvin', 'Tarley'),
 ('Guillermo', 'Ramirez'),
 ('John', 'Thorrington'),
 ('Esteban', 'Arias'),
 ('Michael', 'Enfield'),
 ('Will', 'Johnson'),
 ('Kevin', 'Novak'),
 ('Fabrice', 'Noel'),
 ('Facundo', 'Erpen'),
 ('Pablo', 'Chinchilla'),
 ('Jack', 'Stewart'),
 ('Domenic', 'Mediate'),
 ('Mario', 'Rodriguez'),
 ('Juan', 'Pablo Garcia'),
 ('Tim', 'Ward'),
 ('Dan', 'Gargan'),
 ('Leslie', 'Fitzpatrick'),
 ('Robert', 'Scarlett'),
 ('Paulo', 'Nagamura'),
 ('Francisco', 'Mendoza'),
 ('Gustavo', 'Cabrera'),
 ('Steve', 'Guppy'),
 ('Kevin', 'Goldthwaite'),
 ('Ugo', 'Ihemelu'),
 ('Will', 'John'),
 ('Antti', 'Sumiala'),
 ('Mark', 'Schulte'),
 ('Hunter', 'Freeman'),
 ('Marcus', 'Storey'),
 ('Luke', 'Kreamalmeyer'),
 ('Guy', 'Melamed'),
 ('Clyde', 'Simms'),
 ('Stephen', 'Keel'),
 ('Jeff', 'Larentowicz'),
 ('Michael', 'Parkhurst'),
 ('Chris', 'Wondolowski'),
 ('Ryan', 'Raybould'),
 ('Stephen', 'deRoux'),
 ('Marlon', 'Rojas'),
 ('Daniel', 'Garipe'),
 ('Amir', 'Lowery'),
 ('Lucio', 'Filomeno'),
 ('Eugene', 'Sepuya'),
 ('Hector', 'Castro'),
 ('Victor', 'Arbelaez'),
 ('Mike', 'Munoz'),
 ('Rodrigo', 'López'),
 ('Jason', 'Hernandez'),
 ('Christian', 'Jimenez'),
 ('Quavas', 'Kirk'),
 ('Joshua', 'Elbaum'),
 ('Chris', 'Corcoran'),
 ('Sasha', 'Gotsmanov'),
 ('Jamie', 'Holmes'),
 ('Ryan', 'Kelly'),
 ('Cameron', 'Knowles'),
 ('Shawn', 'Kuykendall'),
 ('Aaron', 'Lanes'),
 ('Douglas', 'Lascody'),
 ('Ramon', 'Bailey'),
 ('Benjamin', 'Benditson'),

In [75]:
create_table_sql = """CREATE TABLE IF NOT EXISTS[Players] (
    [PlayerID] INTEGER NOT NULL PRIMARY KEY,
    [FirstName] TEXT NOT NULL,
    [LastName] TEXT
);
"""

create_table(conn_norm, create_table_sql)

In [76]:
def insert_player(conn, values):
    sql = """INSERT INTO Players(FirstName, LastName)
                VALUES(?, ?)"""
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid


with conn_norm:
    for player in players:
        insert_player(conn_norm, player)

In [77]:
pd.read_sql("SELECT * From Players", conn_norm)

      PlayerID FirstName   LastName
0            1       Roy   Lassiter
1            2      Raul  Diaz Arce
2            3   Eduardo    Hurtado
3            4     Preki       None
4            5     Brian    McBride
...        ...       ...        ...
3299      3300    Andres      Reyes
3300      3301     Dylan     Nealis
3301      3302      Luis      Binks
3302      3303      Siem    de Jong
3303      3304   Nicolas      Figal

[3304 rows x 3 columns]

In [78]:
# now create a playerstats table that leverages the other
# tables
create_table_sql = """CREATE TABLE IF NOT EXISTS[PlayerStats] (
    [StatID] INTEGER NOT NULL PRIMARY KEY,
    [PlayerID] INTEGER NOT NULL,
    [Club] TEXT,
    [Position] TEXT NOT NULL,
    [GP] INTEGER NOT NULL,
    [GS] INTEGER NOT NULL,
    [MIN] INTEGER NOT NULL,
    [Year] INTEGER NOT NULL,
    [Season] TEXT NOT NULL,
    FOREIGN KEY(PlayerID) REFERENCES Players(PlayerID),
    FOREIGN KEY(Club) REFERENCES Clubs(Club),
    FOREIGN KEY(Year) REFERENCES Years(Year),
    FOREIGN KEY(Season) REFERENCES Seasons(Season)     
);
"""

create_table(conn_norm, create_table_sql)

In [79]:
# create lookup for player name to player id
sql_statement = "SELECT * FROM players"
rows = execute_sql_statement(sql_statement, conn_norm)
player_lookup_dict = {}
for row in rows:
    pid, first, last = row
    if last:
        name = f'{first} {last}'
        player_lookup_dict[name] = pid
    else:
        player_lookup_dict[first] = pid

In [80]:
player_lookup_dict

{'Roy Lassiter': 1,
 'Raul Diaz Arce': 2,
 'Eduardo Hurtado': 3,
 'Preki': 4,
 'Brian McBride': 5,
 'Steve Rammel': 6,
 'Vitalis Takawira': 7,
 'Paul Bravo': 8,
 'Jason Kreis': 9,
 'Giovanni Savarese': 10,
 'Pete Marino': 11,
 'Jean Harbor': 12,
 'Joe-Max Moore': 13,
 'Eric Wynalda': 14,
 'Eduardo Espinoza': 15,
 'Mark Chung': 16,
 'Shaun Bartlett': 17,
 'Giuseppe Galderisi': 18,
 'Cobi Jones': 19,
 'Steve Ralston': 20,
 'Marcelo Balboa': 21,
 'Adrian Paz': 22,
 'Alberto Naveda': 23,
 'Harut Karapetyan': 24,
 'Hugo Sanchez': 25,
 'Maurice Johnston': 26,
 'Antony De Avila': 27,
 'Mauricio Cienfuegos': 28,
 'Gerell Elliott': 29,
 'Martin Vasquez': 30,
 'Brian Maisonneuve': 31,
 'John Kerr': 32,
 'A.J. Wood': 33,
 'Steve Trittschuh': 34,
 'Diego Viera': 35,
 'Marco Etcheverry': 36,
 'Carlos Valderrama': 37,
 'Tony Sanneh': 38,
 'Mike Sorber': 39,
 'Darren Sawatzky': 40,
 'Miles Joseph': 41,
 'Brian Haynes': 42,
 'Paul Keegan': 43,
 'Rob Johnson': 44,
 'Marcelo Carrera': 45,
 'Washington Rodriguez': 46,
 'Greg Vanney': 47,
 'Tab Ramos': 48,
 'Roberto Donadoni': 49,
 'John Harkes': 50,
 'Chris Henderson': 51,
 'John Doyle': 52,
 'Ivan McKinley': 53,
 'Welton': 54,
 'Leonel Alvarez': 55,
 'Scott Benedetti': 56,
 'Jaime Moreno': 57,
 'Geoff Aunger': 58,
 'Paul Caligiuri': 59,
 'Mark Semioli': 60,
 'Doctor Khumalo': 61,
 'Shawn Medved': 62,
 'Jeff Baicher': 63,
 'Alan Prampin': 64,
 'Robert Warzycha': 65,
 'Billy Thompson': 66,
 'Ben Iroha': 67,
 'Diego Sonora': 68,
 'Ted Eck': 69,
 'Roy Wegerle': 70,
 'Frank Klopas': 71,
 'Guillermo Jara': 72,
 'Cle Kooiman': 73,
 'Troy Dayak': 74,
 'Arash Noamouz': 75,
 'Goran Hunjak': 76,
 'Imad Baba': 77,
 'Jose Vasquez': 78,
 'Richard Sharpe': 79,
 'Scott Uderitz': 80,
 'Jorge Salcedo': 81,
 'Eddie Pope': 82,
 'Robert Ukrop': 83,
 'Lawrence Lozzano': 84,
 'Altimont Butler': 85,
 'Uche Okafor': 86,
 'Nicola Caricola': 87,
 'Steve Pittman': 88,
 'Jeff Agoos': 89,
 'Richie Williams': 90,
 'Mario Gori': 91,
 'Kris Kelderman': 92,
 'Peter Woodring': 93,
 'Jorge Rodas': 94,
 'Ricardo Iribarren': 95,
 'Todd Yeagley': 96,
 'Frankie Hejduk': 97,
 'John Maessner': 98,
 'Mark Santel': 99,
 'Ian Hennessey': 100,
 'Ramiro Corrales': 101,
 'Henry Gutierrez': 102,
 'Chris Unger': 103,
 'Rhett Harty': 104,
 'Mike Burns': 105,
 'Mike Clark': 106,
 'Alexi Lalas': 107,
 'Chris Armas': 108,
 'Peter Vermes': 109,
 'Jesse Marsch': 110,
 'Yari Allnutt': 111,
 'Paul Holocher': 112,
 'Mark Watson': 113,
 'Richard Farrer': 114,
 'Robin Fraser': 115,
 'Matt Kmosko': 116,
 'Sean Henderson': 117,
 'Zak Ibsen': 118,
 'Ted Chronopoulos': 119,
 'Brad Wilson': 120,
 'Tim Martin': 121,
 'John Garvey': 122,
 'Ante Razov': 123,
 'Dante Washington': 124,
 'Brian Bliss': 125,
 'Chad Ashton': 126,
 'Diego Gutierrez': 127,
 'John DeBrito': 128,
 'Paul Wright': 129,
 'Sean Bowers': 130,
 'Eddie Lewis': 131,
 'Evans Wise': 132,
 'Ruben Hernandez': 133,
 'Felipe Rodriguez': 134,
 'Manny Lagos': 135,
 'Eric Eichmann': 136,
 'Kevin Wylie': 137,
 'Victor Mella': 138,
 'Michael Emenalo': 139,
 'Petter Villegas': 140,
 'Obi Monome': 141,
 'Andrew Shue': 142,
 'Todd Miller': 143,
 'Iain Fraser': 144,
 'Denis Hamlett': 145,
 'Brian Kamler': 146,
 'Kevin Koetters': 147,
 'David Vaudreuil': 148,
 'Damian Silvera': 149,
 'Manny Motajo': 150,
 'Curt Onalfo': 151,
 'Nidal Baba': 152,
 'Raimo De Vries': 153,
 'Adam Frye': 154,
 'Rob Smith': 155,
 'Dan Calichman': 156,
 'Scott Cannon': 157,
 'Matt McKeon': 158,
 'Edmundo Rodriguez': 159,
 'Samuel Ekeme': 160,
 'George Gelnovatch': 161,
 'Said Fazlagic': 162,
 'Ricci Greenwood': 163,
 'Rivers Guthrie': 164,
 'Ken Hesse': 165,
 'Mirsad Huseinovic': 166,
 'Mike Huwiler': 167,
 'Tayt Ianni': 168,
 'Chris Brauchle': 169,
 'Danny Barber': 170,
 'Andrew Restrepo': 171,
 'Travis Rinker': 172,
 'Ed Pinon': 173,
 'Sterling Wescott': 174,
 'Bojan Vuckovic': 175,
 'Rene Ortiz': 176,
 'Martin Munnelly': 177,
 'Omid Namazi': 178,
 'Brent Longenecker': 179,
 'Francis Okaroh': 180,
 'Thor Lee': 181,
 'Stan Lembryk': 182,
 'Josh McKay': 183,
 'Greg Lalas': 184,
 'Brandon Ward': 185,
 'Rafael Amaya': 186,
 'Ben Crawley': 187,
 'Troy Edwards': 188,
 'John Diffley': 189,
 'Erik Imler': 190,
 'Louis Ken-Kwofie': 191,
 'Mac Cozier': 192,
 'Tom Lips': 193,
 'Ed Puskarich': 194,
 'Tommy Reasoner': 195,
 'Brandon Pollard': 196,
 'Richard Weiszmann': 197,
 'Patrick Tardieu': 198,
 'Jeff Zaun': 199,
 'Ryshiem Henderson': 200,
 'Jorge Flores': 201,
 'Frank Yallop': 202,
 'Shane Battelle': 203,
 'Oscar Draguicevich': 204,
 'Derek Backman': 205,
 'Juan Suarez': 206,
 'Paul Young': 207,
 'Jimmy Glenn': 208,
 'Ian Butterworth': 209,
 'Ted Gillen': 210,
 'Brian Bates': 211,
 'Clint Peay': 212,
 'Mickey Kydes': 213,
 'Matt Knowles': 214,
 'Nelson Vargas': 215,
 'Dominic Kinnear': 216,
 'Cristian da Silva': 217,
 'Janusz Michallik': 218,
 'Ronald Cerritos': 219,
 'Damian': 220,
 'Gilmar': 221,
 'Chiquinho Conde': 222,
 'David Patino': 223,
 'Wolde Harris': 224,
 'Martin Machon': 225,
 'Thomas Dooley': 226,
 'Jorge Rodriguez': 227,
 'Sam George': 228,
 'Alain Sutter': 229,
 'Christopher Sullivan': 230,
 'Daniel Peinado': 231,
 'Ross Paule': 232,
 'Jason Farrell': 233,
 'Danny Pena': 234,
 'Wade Webber': 235,
 'Ryan Tinsley': 236,
 'Brian Kelly': 237,
 'Temoc Suarez': 238,
 'Alejandro Farias': 239,
 'Istvan Urbanyi': 240,
 'Branco': 241,
 'Mike Lapper': 242,
 'Zico': 243,
 'Joao Batista': 244,
 'Brian Johnson': 245,
 'Musa Shannon': 246,
 'Brian Taylor': 247,
 'Ansil Elcock': 248,
 'Arnold Cruz': 249,
 'Sergio Miguez': 250,
 'Tom Soehn': 251,
 'Tote Castaneda': 252,
 'Marco Ferruzzi': 253,
 'Daniel Guzman': 254,
 'Andrew Lewis': 255,
 'Gerson Echeverry': 256,
 'Bill Harte': 257,
 'Peter Hattrup': 258,
 'Jose Botello': 259,
 'Tahj Jakins': 260,
 'Ezra Hendrickson': 261,
 'Richard Gough': 262,
 'Steve Jolley': 263,
 'Guido': 264,
 'Braeden Cloutier': 265,
 'Brian Dunseth': 266,
 'Nino Da Silva': 267,
 'Jake Dancy': 268,
 'Ubusuku Abukusumo': 269,
 'Esmundo Rodriguez': 270,
 'Juan Sastoque': 271,
 'Joey Thieman': 272,
 'Dionysus Sebwe': 273,
 'Ike Udeh': 274,
 'Gabe Jones': 275,
 'Steve Klein': 276,
 'Peter Lak': 277,
 'Gerardo Laterza': 278,
 'Jamel Mitchell': 279,
 'David Moxom': 280,
 'Patrick Olalere': 281,
 'Joao Luiz': 282,
 'Dan Stebbins': 283,
 'Marco Rizi': 284,
 'Carlos Llamosa': 285,
 'Eric Quill': 286,
 'Joey Martinez': 287,
 'Chris Martinez': 288,
 'Carlos Parra': 289,
 'Eric Dade': 290,
 'John Jones': 291,
 'Silvio Rudman': 292,
 'Leonardo Squadrone': 293,
 'Kerry Zavagnin': 294,
 'Mike Duhaney': 295,
 'Rob Jachym': 296,
 'Stern John': 297,
 'Diego Serna': 298,
 'Roman Kosecki': 299,
 'Mauricio Ramos': 300,
 'Jim Rooney': 301,
 'Josh Wolff': 302,
 'Jeff Cunningham': 303,
 'Lubos Kubik': 304,
 'Edwin Gorter': 305,
 'Jerzy Podbrozny': 306,
 'Peter Nowak': 307,
 'Carlos Hermosillo': 308,
 'Paul Dougherty': 309,
 'Waldir': 310,
 'Clint Mathis': 311,
 'Paulinho McLaren': 312,
 'Marcelo Herrera': 313,
 'Mickey Trotman': 314,
 'Ben Olsen': 315,
 'Ritchie Kotschau': 316,
 'Paul Rideout': 317,
 'Marquis White': 318,
 'Marquinho': 319,
 'Joey DiGiamarino': 320,
 'Jair': 321,
 'Chad Deering': 322,
 'Jerry Tamashiro': 323,
 'Francisco Uribe': 324,
 'Johnny Torres': 325,
 'Wade Barrett': 326,
 'Jan Eriksson': 327,
 'C.J. Brown': 328,
 'Andy Williams': 329,
 'Marcelo Vega': 330,
 'Chris Houser': 331,
 'Leo Cullen': 332,
 'Wellington Sanchez': 333,
 'Scott Vermillion': 334,
 'Brian West': 335,
 'Richard Goulooze': 336,
 'Mike Petke': 337,
 'Roger Thomas': 338,
 'Tyrone Marshall': 339,
 'Oscar Pareja': 340,
 'Joe Franchino': 341,
 'Pablo Mastroeni': 342,
 'Brian Sebapole': 343,
 'Jason Boyce': 344,
 'Refik Sabanadzovic': 345,
 'Billy Walsh': 346,
 'Andrew Gregor': 347,
 'Carey Talley': 348,
 'Jamar Beasley': 349,
 'Brian Loftin': 350,
 'Mike Slivinski': 351,
 'Daniel Hernandez': 352,
 'Arley Palacios': 353,
 'Carlos Rocha': 354,
 'Carlos Ledesma': 355,
 'Alen Kozic': 356,
 'Edgar Hernandez': 357,
 'Andre Nunley': 358,
 'Alberto Montoya': 359,
 'R.T. Moore': 360,
 'Tom McLaughlin': 361,
 'Ben Parry': 362,
 'Zion Renfrum': 363,
 'Michael Richardson': 364,
 'Nick Theslof': 365,
 'Barry Swift': 366,
 'Travis Roy': 367,
 'Lyle Yorks': 368,
 'Jesse Van Saun': 369,
 'Craig Yacks': 370,
 'Steve Bell': 371,
 'Chris Brown': 372,
 'Danny Care': 373,
 'Joe Carver': 374,
 'Eric Chaisongkram': 375,
 'Chuck Codd': 376,
 'Kevin Coye': 377,
 'Chad McCarty': 378,
 'Judah Cooks': 379,
 'David Quesada': 380,
 'Joe Munoz': 381,
 'Tony Kuhn': 382,
 'Dahir Mohammed': 383,
 'Tim Weaver': 384,
 'Jacek Ziober': 385,
 'Josh Keller': 386,
 'Jason Bent': 387,
 'Chris Klein': 388,
 'David Nakhid': 389,
 'Vicente Figueroa': 390,
 'Jorge Dely Valdes': 391,
 'Alejandro Sequeira': 392,
 'Roy Myers': 393,
 'Alex Bunbury': 394,
 'Dario Brose': 395,
 'Jefferson Gottardi': 396,
 'Ariel Graziani': 397,
 'Henry Zambrano': 398,
 'Mauricio Wright': 399,
 'John Jairo Trellez': 400,
 'Jay Heaps': 401,
 'Dema Kovalenko': 402,
 'Anders Limpar': 403,
 'Simon Elliott': 404,
 'Sasa Curcic': 405,
 'Bobby Rhine': 406,
 'Seth George': 407,
 'Jamie Clark': 408,
 'Saul Martinez': 409,
 'Mauricio Solis': 410,
 'Richard Mulrooney': 411,
 'Roberto Gaucho': 412,
 'Paul Broome': 413,
 'Kevin Anderson': 414,
 'Nansha Kalonji': 415,
 'Jimmy Conrad': 416,
 'John Wolyniec': 417,
 'Francisco Gomez': 418,
 'Maurizio Rocha': 419,
 'Scott Bower': 420,
 'Tim Sahaydak': 421,
 'Jason Moore': 422,
 'Antonio Otero': 423,
 'Sergi Daniv': 424,
 'Cesar Alvarado': 425,
 'Brandon Prideaux': 426,
 'Marvin Quijano': 427,
 'Chris Albright': 428,
 'Jeff Bilyk': 429,
 'Mohammad Khakpour': 430,
 'Tomasz Wygonik': 431,
 'Tony Soto': 432,
 'Maxi Viera': 433,
 'Caleb Porter': 434,
 'John Rusek': 435,
 'Michael Green': 436,
 'Ray Goodlett': 437,
 'Chaka Daley': 438,
 'Gabe Eastman': 439,
 'Fernando Fernandes': 440,
 'Jaime Estupinan': 441,
 'Carlos Farias': 442,
 'Anthony Farras': 443,
 'Andreas Maier': 444,
 'Jim Manganello': 445,
 "Leighton O'Brien": 446,
 'Andrew Parrish': 447,
 'Scott Pearson': 448,
 'Eric Kvello': 449,
 'Matt Chulis': 450,
 'Mark Baena': 451,
 'Evan Whitfield': 452,
 'Lazo Alavanja': 453,
 'Kevin Knight': 454,
 'David Hayes': 455,
 'Joseph Addo': 456,
 'Kirk Wilson': 457,
 'John Ball': 458,
 'Jeremy Aldrich': 459,
 'Paulo Dos Santos': 460,
 'Mamadou Diallo': 461,
 'Adolfo Valencia': 462,
 'Alex Comas': 463,
 'Miklos Molnar': 464,
 'Junior Agogo': 465,
 'Hristo Stoitchkov': 466,
 'Abdul Thompson Conteh': 467,
 'Aleksey Korol': 468,
 'Wojtek Krakowiak': 469,
 'Luis Hernandez': 470,
 'Sebastien Vorbe': 471,
 'Sasha Victorine': 472,
 'Khodadad Azizi': 473,
 'John Wilmar Perez': 474,
 'Gary Glasgow': 475,
 'Peter Vagenas': 476,
 'Matt Okoh': 477,
 'Antonio Martinez': 478,
 'Ian Russell': 479,
 'DaMarcus Beasley': 480,
 'Wes Hart': 481,
 'William Sunsing': 482,
 'Steve Shak': 483,
 'Danny Califf': 484,
 'Carlos Bocanegra': 485,
 'Kalin Bankov': 486,
 'Kyle Beckerman': 487,
 'Jose Luis Morales': 488,
 'Lothar Matthaus': 489,
 'Peter Byaruhanga': 490,
 'Bobby Convey': 491,
 'Micah Cooks': 492,
 'Shaker Asad': 493,
 'Eric Denton': 494,
 'Justin Evans': 495,
 'Travis Mulraine': 496,
 'Roland Aguilera': 497,
 'Lance Key': 498,
 'John Wilson': 499,
 'Craig Waibel': 500,
 'Gerard Lagos': 501,
 'Yuri Lavrinenko': 502,
 'Chris Jahr': 503,
 'Ernest Inneh': 504,
 'Ihor Dotsenko': 505,
 'Ryan Edwards': 506,
 'Julian Gomez': 507,
 'Keith Beach': 508,
 'Steve Bernal': 509,
 'Danny DeVall': 510,
 'Christoff Lindenmayer': 511,
 'Mario Longo': 512,
 'Sergio Salas': 513,
 "O'Neil Peart": 514,
 'Angel Rivillo': 515,
 'Sheldon Thomas': 516,
 'Alijohn Utush': 517,
 'Alan Woods': 518,
 'Fabio Zuniga': 519,
 'Dominic Schell': 520,
 'Nick Garcia': 521,
 'Orlando Perez': 522,
 'Seth Trembly': 523,
 'Tenywa Bonseu': 524,
 'Keyeno Thomas': 525,
 'Adam Eyre': 526,
 'Jeff DiMaria': 527,
 'Amos Magee': 528,
 'Miroslaw Rzepa': 529,
 'Steve Armas': 530,
 'Manuel Bucuane': 531,
 'Rusty Pierce': 532,
 'Ivan Polic': 533,
 'Mike Burke': 534,
 'Alex Pineda Chacon': 535,
 'John Spencer': 536,
 'Cate': 537,
 'Rodrigo Faria': 538,
 'Landon Donovan': 539,
 'Chris Carrieri': 540,
 'Dwayne De Rosario': 541,
 'Santino Quaranta': 542,
 'Mark Lisi': 543,
 'Onandi Lowe': 544,
 'Devin Barclay': 545,
 'Edson Buddle': 546,
 'Stephen Armstrong': 547,
 'Joselito Vaca': 548,
 'Ryan Suarez': 549,
 'Brian Mullan': 550,
 'Ali Curtis': 551,
 'Eddie Johnson': 552,
 'Brian Ching': 553,
 'Jose Alegria': 554,
 'Pedro Alvarez': 555,
 'Michael Butler': 556,
 'Ian Bishop': 557,
 'Bryan Namoff': 558,
 'Craig Ziadie': 559,
 'Ian Woan': 560,
 'Ryan Nelsen': 561,
 'Greg Simmonds': 562,
 'Ronnie Ekelund': 563,
 'Jim Curtin': 564,
 'Craig Demmin': 565,
 'Duncan Oughton': 566,
 'Nick Downing': 567,
 'Tony Frias': 568,
 'Jose Burciaga Jr.': 569,
 'Eddie Robinson': 570,
 'Don Gramenz': 571,
 'Fausto Klinger': 572,
 'Stephen Danbusky': 573,
 'Fred DeGand': 574,
 'Narciso Fernandes': 575,
 'Matt Fundenberger': 576,
 'John Carroll': 577,
 'Mersim Beskovic': 578,
 'Fernando Ortiz-Solis': 579,
 'Paul Schneider': 580,
 'Jeff Rigby': 581,
 'Miguel Saavedra': 582,
 'Alberto Munoz': 583,
 'Randy Merkel': 584,
 'Chad Prince': 585,
 'Ali Ngon': 586,
 'Cordt Weinstein': 587,
 'Josue Mayard': 588,
 'Kevin Adams': 589,
 'Alex Bengard': 590,
 'Isaias Bardales Jr.': 591,
 'Chris Dawes': 592,
 'Neathan Gibson': 593,
 'Stephen Herdsman': 594,
 'Martin Klinger': 595,
 'Gus Kartes': 596,
 'Carlos Ruiz': 597,
 'Taylor Twellman': 598,
 'Dario Fabbro': 599,
 'Igor Simutenkov': 600,
 'Brad Davis': 601,
 'Zach Kingsley': 602,
 'Steve Morrow': 603,
 'Kelly Gray': 604,
 'Kyle Martino': 605,
 "Ronnie O'Brien": 606,
 'Eliseo Quintanilla': 607,
 'Gavin Glinton': 608,
 'Winston Griffiths': 609,
 'Daouda Kante': 610,
 'Raul Palacios': 611,
 'Ian Fuller': 612,
 'Jeff Moore': 613,
 'Jeff Stewart': 614,
 'Freddy Garcia': 615,
 'Milton Reyes': 616,
 'Alejandro Moreno': 617,
 'Carlos Semedo': 618,
 'Billy Sleeth': 619,
 'Carl Bussey': 620,
 'Daniel Torres': 621,
 'Rick Titus': 622,
 'Hamisi Amani-Dove': 623,
 'Jesus Ochoa': 624,
 'Jordan Stone': 625,
 'Danny Jackson': 626,
 'Justin Mapp': 627,
 'Dipsy Selolwane': 628,
 'Luchi Gonzalez': 629,
 'Jeff Matteo': 630,
 'Leo Krupnik': 631,
 'Marshall Leonard': 632,
 'Chris Roner': 633,
 'McKinley Tennyson': 634,
 'Birahim Diop': 635,
 'Darin Lewis': 636,
 'Brian Piesner': 637,
 'Scott Powers': 638,
 'Dustin Sheppard': 639,
 'Sam Forko': 640,
 'Matt Behncke': 641,
 'Lee Morrison': 642,
 'Davy Arnaud': 643,
 'Chris Brunt': 644,
 'Nelson Akwari': 645,
 'Chris Leitch': 646,
 'Craig Capano': 647,
 'Dennis Ludwig': 648,
 'Barry Alvarez': 649,
 'Percy Olivares': 650,
 'Mike Nugent': 651,
 'Damani Ralph': 652,
 'Pat Noonan': 653,
 'Mike Magee': 654,
 'Zizi Roberts': 655,
 'Jamil Walker': 656,
 'Amado Guevara': 657,
 'Alecko Eskandarian': 658,
 'Ricardo Clark': 659,
 'Toni Nhleko': 660,
 'Nate Jaqua': 661,
 'Shalrie Joseph': 662,
 'Jacob LeBlanc': 663,
 'Jose Cancela': 664,
 'Todd Dunivant': 665,
 'Chris Gbandi': 666,
 'Earnie Stewart': 667,
 'Arturo Alvarez': 668,
 'Eddie Gaven': 669,
 'Galin Ivanov': 670,
 'Matt Crawford': 671,
 'Shavar Thomas': 672,
 'Andrzej Juskowiak': 673,
 'Diego Walsh': 674,
 'Alex Zotinca': 675,
 'Jake Traeger': 676,
 'Casey Schmidt': 677,
 'Hong Myung Bo': 678,
 'Jorge Vazquez': 679,
 'Jonathan Bolanos': 680,
 'Ryan Futagaki': 681,
 'Gilles Grimandi': 682,
 'Kevin Friedland': 683,
 'Tim Glowienka': 684,
 'Ricky Lewis': 685,
 'Johanes Maliza': 686,
 'Andres Murriagui': 687,
 'Trevor Perea': 688,
 'Michael Piserchio': 689,
 'Jose Retiz': 690,
 'Michael Ritch': 691,
 'Chris Bagley': 692,
 'Hérculez Gómez': 693,
 'Roger Levesque': 694,
 'Nat Borchers': 695,
 'Brian Carroll': 696,
 'Taylor Graham': 697,
 'Jack Jewsbury': 698,
 'Nick Walls': 699,
 'Andy Rosenband': 700,
 'David Stokes': 701,
 'Jason Thompson': 702,
 'Scot Thompson': 703,
 'Mandi Urbas': 704,
 'Alex Blake': 705,
 'Ibrahim Kante': 706,
 'Juan Forchetti': 707,
 'Daryl Powell': 708,
 'Jose Galvan': 709,
 'Guillermo Gonzalez': 710,
 'Alberto Rizo': 711,
 'Kenny Arena': 712,
 'Mark Williams': 713,
 'Philip Salyer': 714,
 'Logan Pause': 715,
 'Tim Regan': 716,
 'Edgar Bartolomeu': 717,
 'Arturo Torres': 718,
 'Thiago Martins': 719,
 'Jovan Kirovski': 720,
 'Peguero Jean Philippe': 721,
 'Clint Dempsey': 722,
 'Cornell Glen': 723,
 'Freddy Adu': 724,
 'Fabian Taylor': 725,
 'Andreas Herzog': 726,
 'Joseph Ngwenya': 727,
 'Jordan Cila': 728,
 'Andy Herron': 729,
 'Christian Gomez': 730,
 'Matt Taylor': 731,
 'Andy Dorman': 732,
 'Sergio Galvan Rey': 733,
 'Simo Valakari': 734,
 'Joshua Gros': 735,
 'Ned Grabavoy': 736,
 'Alberto Delgado': 737,
 'Felix Brillant': 738,
 'Jeff Parke': 739,
 'Richie Baker': 740,
 'Antonio de la Torre': 741,
 'Scott Buete': 742,
 'Chris Wingert': 743,
 'Ryan Cochrane': 744,
 'Danny Szetela': 745,
 'Gilberto Flores': 746,
 'David Testo': 747,
 'Rey Angel Martinez': 748,
 'Marcelo Saragosa': 749,
 'Cory Gibbs': 750,
 'Chad Marshall': 751,
 'Erick Scott': 752,
 'Michael Bradley': 753,
 'Steve Howey': 754,
 'Seth Stammler': 755,
 'Kevin Ara': 756,
 'Adrian Cann': 757,
 'David Wagenfuhr': 758,
 'Ty Maurin': 759,
 'Vuk Rasovic': 760,
 'Sumed Ibrahim': 761,
 'Bobby Thompson': 762,
 'Brian Roberts': 763,
 'Tighe Dombrowski': 764,
 'Michael Erush': 765,
 'David de la Torre': 766,
 'G.R. Cannon': 767,
 'Denny Clanton': 768,
 'Perek Belleh': 769,
 'Luke Vercollone': 770,
 'Tim Lawson': 771,
 'Jamal Sutton': 772,
 'Nana Kuffour': 773,
 'Josh Gardner': 774,
 'Chris Aloisi': 775,
 'Khari Stephenson': 776,
 'Leonard Griffin': 777,
 'Clarence Goodson': 778,
 'David Castellanos': 779,
 'Justin Detter': 780,
 'Avery John': 781,
 'Alexandre Boucicaut': 782,
 'Alan Gordon': 783,
 'Ramon Nunez': 784,
 'Gary Sullivan': 785,
 'Pablo Brenes': 786,
 'Youri Djorkaeff': 787,
 'Scott Sealy': 788,
 'Chris Rolfe': 789,
 'Roberto Mina': 790,
 'Thiago': 791,
 'Alain Nkong': 792,
 'Hector Cuadros': 793,
 'Dedi Ben Dayan': 794,
 'Knox Cameron': 795,
 'Abe Thompson': 796,
 'Gonzalo Segares': 797,
 'Lubos Reiter': 798,
 'Khano Smith': 799,
 'Bobby Boswell': 800,
 'Aaron Pitchkolan': 801,
 'Juan Francisco Palencia': 802,
 'Isaac Romo': 803,
 'Ramon Ramirez': 804,
 'Ivan Guerrero': 805,
 'Abbe Ibrahim': 806,
 'Terry Cooke': 807,
 'Jamie Watson': 808,
 'Douglas Sequeira': 809,
 'Eric Vasquez': 810,
 'Chad Barrett': 811,
 'James Riley': 812,
 'Ednaldo da Conceicao': 813,
 'Julian Nash': 814,
 'Ryan Pore': 815,
 'Samuel Caballero': 816,
 'Melvin Tarley': 817,
 'Guillermo Ramirez': 818,
 'John Thorrington': 819,
 'Esteban Arias': 820,
 'Michael Enfield': 821,
 'Will Johnson': 822,
 'Kevin Novak': 823,
 'Fabrice Noel': 824,
 'Facundo Erpen': 825,
 'Pablo Chinchilla': 826,
 'Jack Stewart': 827,
 'Domenic Mediate': 828,
 'Mario Rodriguez': 829,
 'Juan Pablo Garcia': 830,
 'Tim Ward': 831,
 'Dan Gargan': 832,
 'Leslie Fitzpatrick': 833,
 'Robert Scarlett': 834,
 'Paulo Nagamura': 835,
 'Francisco Mendoza': 836,
 'Gustavo Cabrera': 837,
 'Steve Guppy': 838,
 'Kevin Goldthwaite': 839,
 'Ugo Ihemelu': 840,
 'Will John': 841,
 'Antti Sumiala': 842,
 'Mark Schulte': 843,
 'Hunter Freeman': 844,
 'Marcus Storey': 845,
 'Luke Kreamalmeyer': 846,
 'Guy Melamed': 847,
 'Clyde Simms': 848,
 'Stephen Keel': 849,
 'Jeff Larentowicz': 850,
 'Michael Parkhurst': 851,
 'Chris Wondolowski': 852,
 'Ryan Raybould': 853,
 'Stephen deRoux': 854,
 'Marlon Rojas': 855,
 'Daniel Garipe': 856,
 'Amir Lowery': 857,
 'Lucio Filomeno': 858,
 'Eugene Sepuya': 859,
 'Hector Castro': 860,
 'Victor Arbelaez': 861,
 'Mike Munoz': 862,
 'Rodrigo López': 863,
 'Jason Hernandez': 864,
 'Christian Jimenez': 865,
 'Quavas Kirk': 866,
 'Joshua Elbaum': 867,
 'Chris Corcoran': 868,
 'Sasha Gotsmanov': 869,
 'Jamie Holmes': 870,
 'Ryan Kelly': 871,
 'Cameron Knowles': 872,
 'Shawn Kuykendall': 873,
 'Aaron Lanes': 874,
 'Douglas Lascody': 875,
 'Ramon Bailey': 876,
 'Benjamin Benditson': 877,
 'Milton Blanco': 878,
 'Dustin Branan': 879,
 'Daniel Dobson': 880,
 'Hollis Donaldson': 881,
 'Tony Lochhead': 882,
 'Ricardo Phillips': 883,

In [81]:
conn.close()
conn_norm.close()