In [1]:
# Agenda
# 1. Looking for a group? (deadline is Sunday Oct. 23rd!)
# 2. natsort revisited
# 3. SQL

In [6]:
x = [
    {'name': 'John Doe', 'test1': '100', 'test2': '90','test3': '65', 'test4': '68', 'test5': '94'},
    {'name': 'Charles Darwin', 'test1': '88', 'test2': '76', 'test3': '65', 'test4': '97', 'test5': '82'},
    {'name': 'Al Einstein', 'test1': '90', 'test2': '87', 'test3': '66', 'test4': '95', 'test5': '72'}]

In [7]:
x

[{'name': 'John Doe',
  'test1': '100',
  'test2': '90',
  'test3': '65',
  'test4': '68',
  'test5': '94'},
 {'name': 'Charles Darwin',
  'test1': '88',
  'test2': '76',
  'test3': '65',
  'test4': '97',
  'test5': '82'},
 {'name': 'Al Einstein',
  'test1': '90',
  'test2': '87',
  'test3': '66',
  'test4': '95',
  'test5': '72'}]

In [8]:
import operator
sorted(x, key=operator.itemgetter('name'))

[{'name': 'Al Einstein',
  'test1': '90',
  'test2': '87',
  'test3': '66',
  'test4': '95',
  'test5': '72'},
 {'name': 'Charles Darwin',
  'test1': '88',
  'test2': '76',
  'test3': '65',
  'test4': '97',
  'test5': '82'},
 {'name': 'John Doe',
  'test1': '100',
  'test2': '90',
  'test3': '65',
  'test4': '68',
  'test5': '94'}]

In [9]:
sorted(x, key=operator.itemgetter('test1'))

[{'name': 'John Doe',
  'test1': '100',
  'test2': '90',
  'test3': '65',
  'test4': '68',
  'test5': '94'},
 {'name': 'Charles Darwin',
  'test1': '88',
  'test2': '76',
  'test3': '65',
  'test4': '97',
  'test5': '82'},
 {'name': 'Al Einstein',
  'test1': '90',
  'test2': '87',
  'test3': '66',
  'test4': '95',
  'test5': '72'}]

In [12]:
from natsort import natsorted
natsorted(x, key=operator.itemgetter('test1'))

[{'name': 'Charles Darwin',
  'test1': '88',
  'test2': '76',
  'test3': '65',
  'test4': '97',
  'test5': '82'},
 {'name': 'Al Einstein',
  'test1': '90',
  'test2': '87',
  'test3': '66',
  'test4': '95',
  'test5': '72'},
 {'name': 'John Doe',
  'test1': '100',
  'test2': '90',
  'test3': '65',
  'test4': '68',
  'test5': '94'}]

In [11]:
CREATE TABLE Students (
    last_name TEXT, 
    first_name TEXT, 
    username TEXT, 
    exam1 REAL, 
    exam2 REAL, 
    exam3 REAL
);

SyntaxError: invalid syntax (<ipython-input-11-996923b11808>, line 1)