In [1]:
doubler = lambda x: 2*x

doubler(2)

4

In [2]:
def doubler(x):
    return 2*x

doubler(4)

8

In [3]:
big_val = lambda x: x > 1e6
vals = [0, 10, 20, 2e6, 4e6, 50]
large_nums = filter(big_val, vals)

In [5]:
list(large_nums)

[2000000.0, 4000000.0]

In [6]:
2e-6

2e-06

In [7]:
# big_earner = lambda alumni: alumni['salary'] > 1e6
# people_to_ask_for_money = filter(big_earner, alumni_list)

In [8]:
length_in_feet = [ 6, 12, 18, 24, 30]
to_yards = lambda ft: ft/3
length_in_yards = map(to_yards, length_in_feet)
list(length_in_yards)

[2.0, 4.0, 6.0, 8.0, 10.0]

In [9]:
length_in_feet = [ 6, 12, 18, 24, 30]
length_in_yards = map(lambda ft: ft/3, length_in_feet)
list(length_in_yards)

[2.0, 4.0, 6.0, 8.0, 10.0]

In [10]:
children = [ {'name':'Mary', 'age':12}, {'name':'Ruby', 'age':6}, {'name':'Leo', 'age':9}]
sorted(children, key = lambda child: child['age'])

[{'name': 'Ruby', 'age': 6},
 {'name': 'Leo', 'age': 9},
 {'name': 'Mary', 'age': 12}]

In [11]:
children = [ {'name':'Mary', 'age':12}, {'name':'Ruby', 'age':6}, {'name':'Leo', 'age':9}]
sorted(children, key = lambda child: child['age'], reverse=True)

[{'name': 'Mary', 'age': 12},
 {'name': 'Leo', 'age': 9},
 {'name': 'Ruby', 'age': 6}]

In [12]:
children = [ {'name':'Mary', 'age':'12'}, {'name':'Ruby', 'age':6}, {'name':'Leo', 'age':9}]
sorted(children, key = lambda child: child['age'], reverse=True)

TypeError: '<' not supported between instances of 'str' and 'int'

In [13]:
children = [ {'name':'Mary', 'age':'12'}, {'name':'Ruby', 'age':6}, {'name':'Leo', 'age':9}]
sorted(children, key = lambda child: int(child['age']), reverse=True)

[{'name': 'Mary', 'age': '12'},
 {'name': 'Leo', 'age': 9},
 {'name': 'Ruby', 'age': 6}]

In [15]:
x = (('efg', 1), ('abc', 3), ('hij', 2))
sorted(x, key = lambda e: int(e[1]))

[('efg', 1), ('hij', 2), ('abc', 3)]

In [16]:
x = (('efg', 1), ('abc', 3), ('hij', 2))
sorted(x, key = lambda e: int(e[1]), reverse=True)

[('abc', 3), ('hij', 2), ('efg', 1)]

In [17]:
x = (('Johnny', 76), ('Jill', 93), ('Hankford', 85))
sorted(x, key = lambda e: len(e[0]))

[('Jill', 93), ('Johnny', 76), ('Hankford', 85)]

In [18]:
students = [
    {'username': 'john', 'grade': 50},
    {'username': 'jane', 'grade': 80},
    {'username': 'doe', 'grade': 35},
    {'grade': 89, 'username': 'Kelly'}
]
sorted(students, key = lambda s: s['username'])

[{'grade': 89, 'username': 'Kelly'},
 {'username': 'doe', 'grade': 35},
 {'username': 'jane', 'grade': 80},
 {'username': 'john', 'grade': 50}]

In [19]:
students = [
    {'username': 'john', 'grade': 50},
    {'username': 'jane', 'grade': 80},
    {'username': 'doe', 'grade': 35},
    {'grade': 89, 'username': 'Kelly'}
]
sorted(students, key = lambda s: s['username'].capitalize())

[{'username': 'doe', 'grade': 35},
 {'username': 'jane', 'grade': 80},
 {'username': 'john', 'grade': 50},
 {'grade': 89, 'username': 'Kelly'}]

In [20]:
sorted(students, key = lambda s: s['grade'], reverse=True)

[{'grade': 89, 'username': 'Kelly'},
 {'username': 'jane', 'grade': 80},
 {'username': 'john', 'grade': 50},
 {'username': 'doe', 'grade': 35}]

In [22]:
my_list = [{'value': '34.4'}, {'value': '4.53e4'}, {'value': '73.4'}]
sorted(my_list, key = lambda e: e['value'])

[{'value': '34.4'}, {'value': '4.53e4'}, {'value': '73.4'}]

In [24]:
my_list = [{'value': '34.4'}, {'value': '4.53e4'}, {'value': '73.4'}]
sorted(my_list, key = lambda e: float(e['value']))

[{'value': '34.4'}, {'value': '73.4'}, {'value': '4.53e4'}]

In [25]:
a + 5

NameError: name 'a' is not defined

In [26]:
my_list

[{'value': '34.4'}, {'value': '4.53e4'}, {'value': '73.4'}]

In [27]:
my_list[0]

{'value': '34.4'}

In [32]:
for i in my_list:
    print(i)

{'value': '34.4'}
{'value': '4.53e4'}
{'value': '73.4'}

In [33]:
int('3')

3

In [36]:
int('a',base=16)

10

In [37]:
int('10',base=2)

2

In [38]:
int('15',base=2)

ValueError: invalid literal for int() with base 2: '15'

In [39]:
int(my_list)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [40]:
students

[{'username': 'john', 'grade': 50},
 {'username': 'jane', 'grade': 80},
 {'username': 'doe', 'grade': 35},
 {'grade': 89, 'username': 'Kelly'}]

In [41]:
s0 = students[0]

In [42]:
s0

{'username': 'john', 'grade': 50}

In [43]:
s0['exam1_grade']

KeyError: 'exam1_grade'

In [44]:
s0['grade']

50

In [45]:
s0['Grade']

KeyError: 'Grade'

In [49]:
class TestClass:
    class_variable1 = 2
    # name = 'eas503'

print(TestClass.class_variable1)
print(TestClass.name)

2

AttributeError: type object 'TestClass' has no attribute 'name'

In [50]:
class_name = 'eas503'
class_name.upper()

'EAS503'

In [51]:
class_number = 503
class_number.upper()

AttributeError: 'int' object has no attribute 'upper'

In [52]:
raise ValueError('That is not a valid student!')

ValueError: That is not a vliad student!

In [53]:
raise ValueError

ValueError:

In [54]:
students

[{'username': 'john', 'grade': 50},
 {'username': 'jane', 'grade': 80},
 {'username': 'doe', 'grade': 35},
 {'grade': 89, 'username': 'Kelly'}]

In [55]:
type(students)

list

In [56]:
s0

{'username': 'john', 'grade': 50}

In [57]:
type(s0)

dict

In [58]:
a = 5
type(a)

int

In [59]:
def calculate_bmi(height, weight):

    if type(height) not in [float, int]:
        raise TypeError('Height has to be float or an int')

    if type(weight) not in [float, int]:
        raise TypeError('Weight has to be float or an int')

    if height <= 0:
        raise ValueError('Height cannot be less than or equal to 0')

    if weight <= 0:
        raise ValueError('Weight cannot be less than or equal to 0')

    return 703 * weight / height**2

In [60]:
calculate_bmi(87, 32)

2.9721231338353813

In [62]:
calculate_bmi([87,65], [32,45])

TypeError: Height has to be float or an int

In [63]:
float('')

ValueError: could not convert string to float: