In [1]:
my_list = [ i for i in range(10)]

In [2]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
even_list = [ i for i in range(10) if i % 2 == 0]

In [4]:
even_list

[0, 2, 4, 6, 8]

In [5]:
b_list = [ "even" if i % 2 == 0 else "odd" for i in range(10)]

In [6]:
b_list

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [10]:
filename = input("Enter the filename for the disctionary")
my_dict = {}
my_samples = []
with open(filename) as f:
    for line in f:
            line = line.strip()
            args = line.split(',')
            k =  args[0]
            v =  args[1]
            my_dict.update({k:v})

my_dict

Enter the filename for the disctionaryc:/temp/people.csv

{'First_Name': 'Shawn', 'Last_Name': 'Matott'}

In [11]:
# list based approach
def convert_month_num_to_name(month_num):
    month_names = [ 'n/a' , 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']
    return month_names[month_num]

convert_month_num_to_name(3)

'Mar'

In [13]:
# dictionary based approach
def convert_month_num_to_name(month_num):
    month_names = { 1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7:'Jul'}
    return month_names[month_num]

convert_month_num_to_name(5)

'May'

In [16]:
def text_to_number(t):
    text_to_num = {' ':0, '.':1, ',':1, 'A':2, 'B':2, 'C':2}
    result = ''.join([ str(text_to_num[c.upper()]) for c in t ])
    return result

text_to_number('cab.')

'2221'

In [18]:
import random as r
r.random()

0.7723592249151906

In [19]:
def square(n):
    return n*n
square(4)

16

In [21]:
sq = lambda n: n * n
list(map(sq, [4, 5, 6]))

[16, 25, 36]

In [23]:
list(map(lambda n: n * n, [4, 5, 6]))

[16, 25, 36]

In [24]:
doubler = lambda n : 2*n
list(map(doubler,  lambda n: n * n))

[2, 4, 6, 8, 10]

In [26]:
L2 = [ 2*i for i in [1, 2, 3, 4, 5]]
L2

[2, 4, 6, 8, 10]

In [28]:
# ex 5 - using list comprehension
students = [ 'john', 'jane', 'doe']
ex5 = [ i.capitalize() for i in students ]
ex5

['John', 'Jane', 'Doe']

In [29]:
# ex 5 - using lambda and map
cap_students = lambda name: name.capitalize()
list(map(cap_students, students))

['John', 'Jane', 'Doe']

In [30]:
my_dict = [{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]
val_to_float = lambda d: { 'value':float(d['value']) }
list(map(val_to_float, my_dict))

[{'value': 34.4}, {'value': 45.3}, {'value': 73.4}]

In [33]:
students = ['john', 'Janette', 'doe']
slen = lambda a: len(a)
sorted(students, key=slen, reverse=True)

['Janette', 'john', 'doe']